<div class="opener">

    Data from {{data.surveyName}} / {{data.name}} </div>

<div class="a-filter">

    <div class="a-filter-name"> Graph Type </div>

    <button ng-repeat="o in filterOptions['Graph Type'] track by $index" ng-click="select('Graph Type', o)"> {{o}} </button>

</div>

<div class="a-filter">

    <div class="a-filter-name"> Graph Scope </div>

    <button ng-repeat="o in filterOptions['Graph Scope'] track by $index" ng-click="select('Graph Scope', o)"> {{o}} </button>
    <!-- <select ng-options="item.subItem as item.label for item in questions track by item.id" ng-model="selected['Graph User']"> -->

</div>

<div class="a-filter">

    <div class="a-filter-name"> Graph Question </div>

    <select ng-model="selected['Graph User']" ng-change="select('Graph User')">
        <option ng-repeat="user in users" ng-value="{{JSON.stringify(user)}}"> {{user.userName}} </option>
    </select>

</div>


<div class="d3-ground">

    </div>
