<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" ng-repeat="graphType in graphTypes" ng-click="selectGraphType(graphType)">
        {{graphType.name}}
    </button>
</div>
<div>
    {{selectedGraphType.name}}
</div>

<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-success" ng-click="selectUser(null)">
        All
    </button>
    <button type="button" class="btn btn-default" ng-repeat="user in users" ng-click="selectUser(user)">
        {{user.name}}
    </button>
</div>
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-success" ng-click="selectQuestion(null)">
        All
    </button>
    <button type="button" class="btn btn-default" ng-repeat="question in questions" ng-click="selectQuestion(question)">
        Question {{question.id}}
    </button>
</div>
<div>
    <p>Selected Graph Type: {{selectedGraphType.name}}</p>
    <p>Selected User: {{selectedUser.name}}</p>
    <p>Selected Question: {{selectedQuestion.text}}</p>
</div>

<button type="button" class="btn btn-success" ng-click="appendGraph(selectedGraphType, selectedUser, selectedQuestion)">
    Append Graph
</button>

<div id="d3_report">

</div>

