<!-- <div class="opener"> - </div> -->
<div class="opener">

    Three cents due {{deadlineDueIn}}. (by {{deadlineDate}}) </div>

<div class="survey-summary">

    <!-- <div class="survey-name"> - </div> -->
    <div class="survey-name">

        {{surveyInstance.surveyName}} &nbsp; / &nbsp; {{surveyInstance.name}} </div>


    <div class="s-warning" ng-show="skewed">

        Your responses are skewed. You might want to resubmit some of your responses.
        <button ng-click="toggleMyResponsesGraph()" class="link" ng-hide="showMyResponsesGraph"> Show Me How. </button>
        <button ng-click="toggleMyResponsesGraph()" class="link" ng-show="showMyResponsesGraph"> Okay. </button>

        <div id="s-warning-d3" ng-show="showMyResponsesGraph"> </div>

    </div>

    <ul class="survey-recipients in-progress">

        <li class="survey-recipient" ng-repeat="r in surveyInstanceRecipients | filter : {inProgress : true} | orderBy: 'wasRequested'">

            <a href="/#/survey/{{surveyInstance.id}}/{{r.id}}"> <img ng-src="{{r.photoUrl}}" ng-class="{'requested' : r.wasRequested == true}"/> <span> {{r.name}} </span> </a>

        </li>

        <li>
            <li class="survey-recipient">

                <a> <img src="/img/default.jpg" class="new" ng-click="requestNewRecipient()" style="cursor: pointer"/>
                <span>
                    <angucomplete-alt id="ex1"
                        placeholder="Add New Colleague"
                        pause="100"
                        selected-object="selectNewRecipient"
                        local-data="surveyInstanceUsers"
                        search-fields="fullName"
                        title-field="fullName"
                        minlength="2"
                        input-class="survey-recipients-search" />
                </span> </a>

            </li>

        </li>

    </ul>

    <ul class="survey-recipients complete">

        <li class="survey-recipient" ng-repeat="r in surveyInstanceRecipients | filter : {complete : true}">

            <a href="/#/survey/{{surveyInstance.id}}/{{r.id}}"> <img ng-src="{{r.photoUrl}}" /> <span> {{r.name}} <span> </a>

        </li>
    </ul>

    <div class="s-request">

        <div>
            <angucomplete-alt id="ex1"
                placeholder="Request Feeedback From :"
                pause="100"
                selected-object="selectNewProvider"
                local-data="surveyInstanceUsers"
                search-fields="fullName"
                title-field="fullName"
                minlength="2"
                input-class="s-request-input" />
        </div>

        <button ng-click="requestNewProvider()" style="display: inline-block"> Request </button>

    </angucomplete-alt>

</div>
