<ul class="footer-links">

<!--     <li> <a href="/#/dashboard"> Dashboard </a> </li>
    <li> <a href="/#/survey"> Survey </a> </li>
    <li> <a href="/#/admin"> Admin Mode </a> </li>
    <li> <a href="/#/d3"> Play with D3 </a> </li> -->

	<!-- <li> <a href="https://success.ensighten.com/hc/en-us/requests/new"> support </a> </li>

	<li ng-show="footertoggle"> <a href="http://www.ensighten.com/terms"> terms of use </a> </li>
	<li ng-show="footertoggle"> <a href="http://www.ensighten.com/privacy-policy"> privacy policy </a> </li>
	<li ng-show="footertoggle"> <a href="http://www.ensighten.com/company/contact-us"> contact </a> </li>

	<li class="footer-toggle" ng-click="footertoggle = !footertoggle" ng-init="footertoggle=false"> ... </li> -->

</ul>
