<section class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-limit">

    <div class="header-products">

        <a href="/"> <img class="header-logo" src="/images/eye.png" /> </a> </div>

    <div class="header-account">

        <span class="header-client"> {{account}} </span> </div>

    </div>

</section>
