<!-- CONTROLLER: NavigationCtrl --> 

<button ng-class="{'toggle' : true, 'navbar-left' : true, 'open' : getToggleState('navbar-side')}" type="button" 
    ng-click="setToggleState('navbar-side')"> 

        <!-- the three bar navbar-side toggle icon -->

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

</button>

<nav class="navbar" ng-show="getToggleState('navbar-side')">

    <ul>
        <li> <a ng-href="#/tags" ng-class="{selected : tab == 'tags'}">Tag Management</a> </li>

        <li> <div ng-click="setToggleState('navbar-sub-optimization')"
            ng-if="hasPermission('product mobile optimization')"
            ng-class="{'selected': ['abtesting', 'mvtesting'].indexOf(tab) > -1}"> 
                Optimization <span
            ng-class="{'collapse' : true, 'glyphicon' : true,
            'glyphicon-chevron-down' : !getToggleState('navbar-sub-optimization'), 
            'glyphicon-chevron-up' : getToggleState('navbar-sub-optimization')}"></span> </div> </li>

        <li> <a ng-href="#/abtesting" ng-class="{'sub' : true, selected : tab == 'abtesting'}"
            ng-if="hasPermission('product mobile optimization')"
            ng-show="getToggleState('navbar-sub-optimization')">A/B Testing</a> </li>

        <li> <a ng-href="#/mvtesting" ng-class="{'sub' : true, selected : tab == 'mvtesting'}"
            ng-if="hasPermission('product mobile optimization')"
            ng-show="getToggleState('navbar-sub-optimization')">Multivariate Testing</a> </li>

        <li> <div ng-click="setToggleState('navbar-sub-tools')"
            ng-class="{'selected': ['configbuilder', 'devices', 'pilot', 'checkapk'].indexOf(tab) > -1}"> 
                Tools <span
            ng-class="{'collapse' : true, 'glyphicon' : true,
            'glyphicon-chevron-down' : !getToggleState('navbar-sub-tools'), 
            'glyphicon-chevron-up' : getToggleState('navbar-sub-tools')}"></span> </div> </li>

        <li> <a ng-href="#/configbuilder" ng-class="{'sub' : true, selected : tab == 'configbuilder'}"
            ng-show="getToggleState('navbar-sub-tools')">Config Builder</a> </li>

        <li> <a ng-href="#/devices" ng-class="{'sub' : true, selected : tab == 'devices' || tab == 'pilot'}"
            ng-show="getToggleState('navbar-sub-tools')">Test Lab</a> </li>

        <li> <a ng-href="#/checkapk" ng-class="{'sub' : true, selected : tab == 'checkapk'}"
            ng-show="getToggleState('navbar-sub-tools')">Check APK</a> </li>

    </ul>

</nav>