<div class="opener survey-opener">

    {{recipient.fullName}} - {{recipient.userType}}

    <button ng-click="save()"> Save </button> </div>

<div class="survey">

    <div class="survey-name">

        {{surveyInstance.surveyName}} &nbsp; / &nbsp; {{surveyInstance.name}} </div>

    <div class="s-item" ng-repeat="item in survey.questions" ng-attr-id="{{item.questionId}}">

    <div class="s-question">

        {{$index+1}}. {{item.text}} </div>

    <div class="s-option" ng-repeat="option in item.options">

        <label> <input type="{{option.optionType}}" ng-model="item.answer.optionId" ng-value="{{option.optionId}}" /> {{option.optionText}} </label> </div>

    </div>


</div>
