@-moz-keyframes flick-rotate {
  0% { -moz-transform: rotate(0deg); }
  10% { -moz-transform: rotate(190deg); }
  20% { -moz-transform: rotate(180deg); }
  30% { -moz-transform: rotate(185deg); }
  50% { -moz-transform: rotate(180deg); }
  60% { -moz-transform: rotate(370deg); }
  70% { -moz-transform: rotate(360deg); }
  80% { -moz-transform: rotate(365deg); }
  100% { -moz-transform: rotate(360deg); }
}

@-o-keyframes flick-rotate {
  0% { -o-transform: rotate(0deg); }
  10% { -o-transform: rotate(190deg); }
  20% { -o-transform: rotate(180deg); }
  30% { -o-transform: rotate(185deg); }
  50% { -o-transform: rotate(180deg); }
  60% { -o-transform: rotate(370deg); }
  70% { -o-transform: rotate(360deg); }
  80% { -o-transform: rotate(365deg); }
  100% { -o-transform: rotate(360deg); }
}

@-ms-keyframes flick-rotate {
  0% { -ms-transform: rotate(0deg); }
  10% { -ms-transform: rotate(190deg); }
  20% { -ms-transform: rotate(180deg); }
  30% { -ms-transform: rotate(185deg); }
  50% { -ms-transform: rotate(180deg); }
  60% { -ms-transform: rotate(370deg); }
  70% { -ms-transform: rotate(360deg); }
  80% { -ms-transform: rotate(365deg); }
  100% { -ms-transform: rotate(360deg); }
}

@-webkit-keyframes flick-rotate {
  0% { -webkit-transform: rotate(0deg); }
  10% { -webkit-transform: rotate(190deg); }
  20% { -webkit-transform: rotate(180deg); }
  30% { -webkit-transform: rotate(185deg); }
  50% { -webkit-transform: rotate(180deg); }
  60% { -webkit-transform: rotate(370deg); }
  70% { -webkit-transform: rotate(360deg); }
  80% { -webkit-transform: rotate(365deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes flick-rotate {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(190deg); }
  20% { transform: rotate(180deg); }
  30% { transform: rotate(185deg); }
  50% { transform: rotate(180deg); }
  60% { transform: rotate(370deg); }
  70% { transform: rotate(360deg); }
  80% { transform: rotate(365deg); }
  100% { transform: rotate(360deg); }
}