.ab-button {

    font-size: 14px;
    line-height: 40px;
    float: right;
    width: auto;
    height: 40px;
    padding: 0 10px;

    &:hover {

        background-color: @product-color;
        color: white;
    }
}


.ab-main-button {

    color: white;
    background-color: @product-color;
    border: 1px solid @product-color;

    &:disabled {

        opacity: 0.5;
    }

    &:disabled:hover {

        color: white;
        background-color: @product-color;
        border: 1px solid @product-color;

        opacity: 0.5;
    }
}

.ab-tests-header a {

    margin: 20px 0;
}
