.check-apk-pinned {

	position: fixed;
	float: left; 

	width: 250px;
	height: 100%;
	padding: 25px;

	text-align: center;

	.check-apk-upload {

		border: 5px solid transparent;
		border-radius: 40px;
	}

	.check-apk-disclaimer {

		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;

		margin: 0px 60px;

		text-align: center;
		line-height: 20px;
	}

	.drag-drop-bucket {

		width: 150px;
		height: 50px;
		margin: 15px auto;
		padding: 10px;

		border: 2px dashed #666;
		border-radius: 10px;

		background-color: #fff;
		
		font-size: 18px;
		line-height: 25px;
		
		text-align: center;
		.transition-element(background-color 0.2s @easing-easeInOutQuad);

		&.active {
			background-color: #ccc;
		}
	}

	.fileUpload {

		position: relative;
		overflow: hidden;
		margin: 25px 5px;
	}	

	.fileUpload span {

		font-size: 15px;
	}

	.fileUpload input.upload {

		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.fileUpload p {

		margin: 10px 5px;
		padding: 15px 0px;

		font-size: 15px;
	}

	// a {

	// 	display: inline-block;
	// 	width: 200px;

	// 	margin: 25px; 
	// 	padding: 5px;

	// 	background-color: #fafafa;
	// 	border: 1px solid #d0d0d0;
	// 	border-radius: 3px;

	// 	cursor: pointer;
		
	// 	color: #505050;
	// 	line-height: 26px;
	// 	text-align: center;

	// 	&:hover {

	// 		background-color: #d0d0d0;
	// 		text-decoration: none;

	// 		border: none;
	// 	}
	// }

	p.danger {

		color: red;

		font-size: 16px;
		font-weight: 800;
	}

	.title-link {

		margin: 15px 0px; 
		padding: 15px; 

		border-top: 1px solid black; 
		font-size: 15px; 
	}
}

.check-apk-result {

	margin-left: 300px;	
	padding: 40px 10px;

	max-width: 1080px;
	min-width: 300px;

	@intro-width: 90%;

	h3 {

		width: @intro-width;

		margin: 10px 0px 30px 0px;
		padding-bottom: 10px; 

		border-bottom: 2px solid @ens-blue;
		color: @ens-black;
	}

	p {

		width: @intro-width;

		font-size: 14px;
		line-height: 25px;
	}

	a {

		color: @ens-blue;
	}

    @intro-width: 90%;

    h3 {

    	width: @intro-width;

    	margin: 10px 0px 30px 0px;
    	padding-bottom: 10px; 

    	border-bottom: 2px solid @ens-blue;
    	color: @ens-black;
    }

    p {

    	width: @intro-width;

    	font-size: 14px;
    	line-height: 25px;
    }

    a {

    	color: @ens-blue;
    }

	tr.danger > td {
		
		background-color: #ffeeee;
		border-bottom: 2px solid #cc0000; 
		border-top: 2px solid #cc0000; 
	}

	tr.danger > td:first-of-type { 

		border-bottom: 2px solid #cc0000; 
		border-left: 2px solid #cc0000; 
		border-top: 2px solid #cc0000; 
	}

	tr.danger > td:last-of-type {

		border-bottom: 2px solid #cc0000;
		border-right: 2px solid #cc0000;
		border-top: 2px solid #cc0000;
	}

	tr.warning > td {
		
		background-color: #fff9de;
		border-bottom: 2px solid #ffe77c; 
		border-top: 2px solid #ffe77c; 
	}

	tr.warning > td:first-of-type { 

		border-bottom: 2px solid #ffe77c; 
		border-left: 2px solid #ffe77c; 
		border-top: 2px solid #ffe77c; 
	}

	tr.warning > td:last-of-type {

		border-bottom: 2px solid #ffe77c;
		border-right: 2px solid #ffe77c;
		border-top: 2px solid #ffe77c;
	}

	tr.success > td { 

		background-color: #dbf5d4;
		border-bottom: 2px solid green; 
		border-top: 2px solid green; 
	}

	tr.success > td:first-of-type { 

		border-bottom: 2px solid green;
		border-left: 2px solid green; 
		border-top: 2px solid green; 
	}

	tr.success > td:last-of-type { 

		border-bottom: 2px solid green; 
		border-right: 2px solid green; 
		border-top: 2px solid green; 
	}
}