
.single-color-parent {
  max-width : 300px;
  width: 100%;


  .color-channel-value {
    float :right;
  }
  .icon-alpha {
    left : 0;
    top : 0;
    position : relative;
  }
  .icon-alpha, img {
    width : 10px;
    height : 10px;
    display : block;
    border : none;
  }
  .slider {
    /*  border : 2px solid black;
  border-radius : 5px;*/
    width: 100%;
    max-width : 242px;
    height : 16px;
    margin : 5px;
    display: block;
  }
  .red-slider {
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 0, 0, 1));
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 0, 0, 1));
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 0, 0, 1));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 0, 0, 1));
  }
  .green-slider {
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 255, 0, 1));
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 255, 0, 1));
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 255, 0, 1));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 255, 0, 1));
  }
  .blue-slider {
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 255, 1));
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 255, 1));
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 255, 1));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 255, 1));
  }
  .alpha-slider {
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }
}
