@ens-green: #00788a;
@ens-olive: #7e7d51;
@ens-red: #f0532d;

@ens-pacific: #003e4f;
@ens-blue: #0bbed1;
@ens-yellow: #ffd000;

@ens-black: #1e252b;
@ens-gray3: #5c6670;
@ens-gray2: #a4a9ad;
@ens-gray1: #d1d3d3;

@xs-yellow: #f2ff62;
@xs-green: #9bf8a0;
@xs-red: #ff6f62;
@xs-blue: #00d5ff;

@product-color: #3c3c3c;
