// Colours and fonts.
@console-font: "Menlo","Monaco","Consolas","Courier New",monospace;
@console-background-colour: #666;
@console-text-colour: #eee;

.console {

  position: absolute;
  height: 100px;
  width: 100%;

  bottom: 0;
  
  overflow-y: auto;

  background: @console-background-colour;
  // box-shadow: 0 -1px 5px rgba(0,0,0,.1);
  z-index: 100;

  .transition-element(bottom 0.3s @easing-easeOutCubic);
}

.console-inner {

  height: calc(~"100% - 25px");
  margin: 10px;

  overflow-x: hidden;
  overflow-y: auto;
  
  color: @console-text-colour;
  font-family: @console-font;
  line-height: 18px;
  
  // white-space: pre-line;
}

.console-resizer {

  height: 5px;
  background-color: @ens-green;
  cursor: ns-resize;
}

.console-clear {

  position: absolute;
  top: 10px;
  right: 10px;

  padding: 5px;

  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background: #fafafa;

  cursor: pointer;

  &:hover {

    background-color: #d0d0d0;
  }
}


.console.ng-hide {

  bottom: -100%;
}