@color: #7b7e82;
@ens-cyan: #007c8b;

@gray1: #f6f6f6;
@gray2: #ececec;
@gray3: #e2e2e2;
@gray4: #d8d8d8;

// PANES 

.ob-content {

    position: absolute;

    width: 800px;
    height: 500px; 

    margin: 35px 100px 25px 320px;
}

.ob-content #editor {

    box-sizing: content-box;
    border: 2px solid #ccc;
}

.ob-content #build-overlay {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    z-index: 999;

    background: black;
    opacity: 0.8;
    text-align: center;

    p {

        position: absolute;
        width: 400px;
        height: 200px;

        margin: auto;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        font-size: 20px;
        color: white;

    }
}

.ob-content.bordered {

    border: 1px solid #ccc;
}

.ob-leftpane {

    box-sizing: border-box;

    width: 215px;
    height: 500px; 

    float: left;


    background: @gray1;
}

.ob-rightpane {

    height: 500px;
    width: calc(~"800px - 232px");

    float: left;

    margin-left: 15px;
    
    background: @gray2;

    text-align: center;
}

// COMPONENTS 

.ob-sidebar-links {

    position: fixed; 

    width: 200px;
    height: 500px;
  
    margin: 35px 50px;
    padding: 0px;

    list-style: none;
    // text-align: center;

    li, hr {
        
        display: inline-block;
        width: 100%;

        margin: 10px 10px 10px;

    }

    hr {

        color: #d0d0d0;
        margin: 15px 10px;   

        border: 0;
        height: 0px;
        background: #d0d0d0;

        // cool shade?

        // background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
        // background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
        // background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
        // background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
    }

    li a {

        display: inline-block;
        width: 100%;

        padding: 5px;
        padding-left: 25px;
        
        background-color: #fafafa;
        color: #fff;
        cursor: pointer;

        text-align: left;

        border: 1px solid #d0d0d0; 
        border-radius: 3px; 
        color: #505050; 
        line-height: 26px; 
        

        &:hover {

          text-decoration: none;
          background-color: #d0d0d0; 
          // background: lighten(@color, 10%);
        }
    }

    p.title {

    }

    li a span {

        float: right;
        padding-right: 10px;
    }

    li a.selected {

        color: #fff;
        background: @ens-cyan; 

        border: none;
    }

    li.top-link {

        margin-top: 5px;
    }

    li.bottom-link {

        position: absolute;
        bottom: 0px;

        margin-bottom: 5px;
        text-align: center;
    }

    li.bottom-link a {

        padding: 0px;
        text-align: center;
    }

    li.title-link {

        text-align: center;
        margin: 10px 10px 30px 10px;
    }

    li.title-link a {

        padding: 5px 10px;
        width: auto;

        border: none;
        border-radius: 0px;

        background: none;
        text-align: center;
    }

    li.title-link a.selected {

        color: #007c8b;
        font-weight: bold;
    }

    li.title-link .title {

        width: 100%;
        padding: 10px;

        font-size: 14px;

        border-top: 1px solid black;
        border-bottom: 1px solid black;
    

        letter-spacing: 1px;
    }
  

    li.two-links a {

        width: 49%;

        padding: 5px;
        text-align: center;
    }

    li.three-links {

        box-sizing: border-box;
        width: 100%;
        
        margin-left: 11px;
    }

    li.three-links a { 
   

        display: inline-block;
   
        box-sizing: border-box;     
        width: 64px;

        padding: 5px;
        text-align: center; 
    }
}

.ob-module {

    margin: 0px 0px 20px 0px;

    input {

        width: 250px;
        padding: 5px;

    }

    span {

        margin-left: -60px;

    }
}

.ob-module.rule {

    margin-left: 100px;
}

.ob-save {

    margin: 5px; 
    float: right;
    text-align: right;

    position: absolute;
    right: 2px;
    z-index: 999;

    div {

        display: block

        width: 102px;
        padding: 0px; 

        text-align: center;

    }

    div.btn {

        background: @ens-cyan;
        color: #fff;

        padding: 8px;

        cursor: pointer;

        &:hover {

            text-decoration: none;
            background: darken(@ens-cyan, 5%);
        }

        a {

            color: white;
        }

        a:hover {

            text-decoration: none;
        }

    }

    div.text-btn {

        padding: 9px
    }

    div.message {

        padding: 8px 0px;
    }
}

.ob-save.force {

    position: absolute;
    right: 0px;

    z-index: 99;
}

.ob-button {

    display: inline-block;

    width: 205px;
    height: 35px;

    margin: 5px 0px 5px 5px;
    padding: 10px;

    background: @ens-cyan;
    color: #fff;

    cursor: pointer;
    text-align: center;

    &:hover {

        text-decoration: none;
        color: #fff;
        background: darken(@ens-cyan, 5%);
    }
}

// LIST AND SEARCH

.ob-list {

    background-color: #fff;
    
    height: 400px;

    overflow-x: hidden;
    overflow-y: auto;

    border: 1px solid #ddd;
}

.ob-list.bigger {

    height : 445px;
}

.ob-list-item {

    box-sizing: border-box;

    padding: 8px; 
    padding-left: 30px; 
    margin: 2px; 
    cursor: pointer;

    &:hover {

        text-decoration: none;
        background-color: #f6f6f6;
    }
}

.ob-search {

    margin: 10px
}

// FORM AND ELEMENTS

.ob-input {

    border: 1px solid #ddd; 
    border-radius: 3px; 
    line-height: 23px;
}

form[class^="ob-form"] {

    text-align: left;

    height: 460px;
    margin: 20px;
    overflow: auto;
    

    width: auto;

    label {

        cursor: pointer; 
    }

    label[for^="ob-"] {

        display: block;
        padding: 0px 0px 15px;
        cursor: default;
    }

    input[type="text"] {

        border: 1px solid #ddd; 
        border-radius: 3px; 
        line-height: 23px;

        width: 350px;
        padding: 5px;   
    }

    input[type="radio"] {

        margin: 0px 0px 15px 5px;
    }

    textarea {

        border: 1px solid #ddd; 
        border-radius: 3px; 
        line-height: 23px;

        width: 350px;
        padding: 5px;
    }

    textarea#ob-rules-code {

        font-family: courier;

        line-height: 18px;
        height: 300px;
        width: 100%;
    }

    span.code {

        font-family: courier;
    }
}

input:focus {

    outline: 0;
}

a:hover {

    text-decoration: none;
}

// BUTTONS 

.confirm-options.btn {

    display: block;
    margin: 10px;
}

.confirm-message {

    display: block;
    padding: 15px;
}

// LOADING INDICATOR UNDERNEATH 

.loading-indicator.underneath {

    position: fixed; 
    top: 300px;
    left: 775px;

    z-index: -1;
}