html, body, .container {

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}

.content {

    // height: 100%;
    // overflow: hidden;

    margin: 0 auto;
    padding: 0;

    width: auto;
    max-width: 902px;

    margin-bottom: 200px;

    // border-top: @header-height solid transparent;
    // border-bottom: @footer-height solid transparent;
}

.cview {

    position: relative;
    width: 100%;
    // height: 100%;
    // overflow: auto;
}

.cview > .opener {

    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 20px;

    border-bottom: 1px solid @product-color; // TODO add this back

    font-size: 30px;
    text-align: center;
}

.link {

    border: none;
    background: none;
}

.survey-opener button {

    position: absolute;
    right: 0;

    margin-top: 15px;
    width: 100px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    line-height: normal;
    border: none;
    outline: none;

    background-color: @xs-green;
    color: white;

    transition: all 0.2s;

    &:hover {

        color: black;
        border-radius: 6px;
    }
}

.s-warning {

    text-align: center;
    padding: 15px 0;
    border: 1px solid @xs-red;
    color: @xs-red;
}

.s-request {


    text-align: center;
    width: 350px;
    height: 50px;

    margin: auto;
    margin-top: 60px;
}

.s-request > div {

    display: inline-block;
}

.s-request-input {

    display: inline-block;
    width: 200px;
    padding: 5px;
}

.s-request button {

    font-size: 14px;
    height: 35px;
    padding: 5px 10px;
    line-height: normal;
    border: none;
    outline: none;

    background-color: @product-color;
    color: white;

    transition: all 0.2s;

    &:hover {

        background-color: #C27D7D;
    }
}

.survey {

    margin-top: 150px;
}

.survey-name {

    margin: auto;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

@img-size: 85px;

.survey-recipients {

    margin: 0;
    margin-top: 20px;
    padding: 20px;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: center;

    // border: 1px solid black;
}

.survey-recipients.in-progress img {

    border: 3px solid @xs-yellow;
}

.survey-recipients.in-progress img.new {

    border: 3px solid @xs-yellow;
}

.survey-recipients.in-progress img.requested {

    border: 3px solid @xs-red;
}

.survey-recipients.complete img {

    border: 3px solid @xs-green;
}

.survey-recipient {

    position: relative;

    padding: 5px;
    width: 150px;
    height: 150px;
    margin: 1px;
    text-align: center;

    // border: 1px solid red;
}

.survey-recipient img {

    border-radius: 50px;
    width: @img-size;
    height: @img-size;
}

.survey-recipient > a  span {

    display: block;
    height: 60px;

    padding: 10px 0;
    text-align: center;
    color: black;

    // border: 1px solid blue;
}

.survey-recipient > a span input,
.survey-recipients-search {

    width: 100%;
    border: none;
    appearance: none;
    // border-bottom: 1px solid @product-color;
    text-align: center;
}

// questions

.s-navigation {

    text-align: center;
}

.s-item {

    margin: 20px 0;

    font-size: 18px;
    text-align: center;
}

.s-question {

    margin: 20px 0;
    padding: 10px 0;

    font-size: 20px;
    line-height: 40px;

    background-color: whitesmoke;
}

.s-option {

    text-align: left;

    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
}

.s-option input {

    margin: 0 20px;
}

// angucomplete

.angucomplete-dropdown {

    position: absolute;
    width: 94%;
}

.s-request .angucomplete-row,
.s-request .angucomplete-searching {

    width: 200px;
}

.angucomplete-row {

    padding: 5px;
    border-bottom: 1px solid @product-color;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.angucomplete-selected-row {

    border-bottom: 1px solid @xs-blue;
}

// progress

.cview > .survey-opener {

    line-height: 80px;
    padding: 0;

    position: fixed;
    top: 0;
    width: 902px;
    background: white;
    z-index: 100;
    border-top: 50px solid white;
    margin: 0;
}

.opener > span {
  display: block;
  height: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;

  transition: width 1s;
}

// links

.other-links {

    margin-top: 200px;
    text-align: center;
}

.other-links a {

    display: inline-block;
}

.footer {

    width: 100%;
}

.footer-links {

    list-style: none;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.footer-links li {

    display: inline-block;
    margin: 0 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid #337ab7;
}

.footer-links li a:focus {

    outline: none;
    text-decoration: none;
}

.axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    /*.x.axis path {
        display: none;
    }*/
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

// --------------------------------------------------------------------------------

a:focus {

    outline: none;
}

.none-message {
    font-size: 18px;
    margin: 30px 0;
    // text-align: center;
}

.none-message-padded {
    font-size: 18px;
    margin-top: 100px;
    text-align: center;
}

.table-total-info {
    text-align: center;
}

.navbar-interface-select {
    @colour: #1fbfd5;
    background: transparent;
    border-radius: 2px;
    border: 1px solid @colour;
    color: @colour;
    padding: 5px;
    position: absolute;
    left: 130px;
    line-height: 20px;
    top: 5px;
    width: 150px;

    &:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        border: 5px solid transparent;
        border-top-color: @colour;
        right: 5px;
        top: 12px;
    }
}

.pilot-sidebar-links {

    list-style: none;
    margin: 0;
    margin-right: 50px;
    padding: 0;
    position: absolute;
    width: 200px;
    height: 100%;

    border-top: 70px solid transparent;

    li {
        @colour: #7b7e82;

        position: relative;
        display: inline-block;

        width: 200px;
        margin: 10px;
        padding: 5px;
        padding-left: 20px;
        border: 1px solid #d0d0d0;
        border-radius: 3px;

        background: #fafafa;
        color: #fff;

        &:hover {
            background: none repeat scroll 0 0 #d0d0d0;
        }
    }

    a, .toggle {
        color: #505050;
        cursor: pointer;
        display: inline-block;
        padding: 5px 10px;
        width: 100%;

        &:hover {
            text-decoration: none;
        }
    }
}

.toggle-readout {


    width: 50px;
    cursor: pointer;
    font-style: normal;

    height: 100%;
    overflow: hidden;
    position: absolute;

    right: 0;
    text-transform: uppercase;
    border-radius: 0 3px 3px 0;
    margin-top: -5px;

    .top-part,
    .bottom-part {
        height: 100%;
        padding-top: 5px;
        position: absolute;
        text-align: center;
        .transition-element(top 0.2s @easing-easeInOutQuad);
        width: 100%;
        line-height: 2;
    }

    .top-part {
        background: none repeat 0 0 #000;
        color: #fff;
        top: 0;
    }

    .bottom-part {
        background: none repeat scroll 0 0 #03b908;
        color: #fff;
        top: 100%;
    }

    &.active {
        .top-part {
            top: -100%;
        }
        .bottom-part {
            top: 0;
        }
    }
}

.tiny-modal {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;

    &.ng-hide {
        .container {
            top: -20%;
            .transform-element(rotate(10deg));
        }
    }

    .container {
        @width: 300px;
        @height: (@width/1.6); // Golden ratio.

        background: #007c8b;
        border-radius: 3px;
        box-shadow: 0 2px 15px rgba(0,0,0,.5);
        left: 50%;
        height: @height;
        margin-left: -(@width/2);
        padding-top: 5px;
        position: absolute;
        text-align: center;
        top: 20%;
        .transform-element(rotate(0deg));
        .transition-element(all 0.4s @easing-fallInBounce);
        width: @width;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.ace_editor {
    border: 1px solid #ccc;
    height: 200px;
    margin-bottom: 10px;
}

.available-devices {
    th {
        &:first-of-type {
            width: 30%;
        }
        &:last-of-type {
            width: 20%;
        }
    }
}

.loading-indicator {
    font-size: 24px;
    padding: 10px;

    .glyphicon {
        .animate-element(flick-rotate 1.8s linear infinite);
        top: 0 !important;
        top: 0 !important;
    }
}

.release-button {
    @button-colour: #007c8b;
    border: 1px solid @button-colour;
    border-radius: 2px;
    color: @button-colour;
    font-size: 13px;
    height: 25px;
    line-height: 13px;
    overflow: hidden;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 140px;
}

.dropdown-menu li a {

    padding: 10px;
}


.navbar {

    border: none;
}

// CONTENT - VIDEO

.content-video {

    position: relative;
    min-width: 864px;
    height: 100%;
    text-align: center;
}

.content-video video, .content-video img {

    width: 100%;
    // max-height: 100%;
    max-height: calc(~"100% - 60px");
    padding: 1px;

    background-color: white;
    border: 10px solid white;
}

.content-video img {

    position: absolute;
    z-index: -1;
}

.content-video p {

    width: auto;

    margin: 10px 0px;
    padding: 10px 10px;

    // text-align: center;
}

// COMPONENTS - INPUT SEARCH

span.search-input-glass {

    color: grey;
    margin-left: -25px;
}

.btn-cool {

    display: inline-block;
    width: 200px;

    margin: 5px;
    padding: 5px;

    background-color: #fafafa;
    border: 1px solid #d0d0d0;
    border-radius: 3px;

    cursor: pointer;

    color: #505050;
    line-height: 26px;
    text-align: center;

    &:focus {

        outline: none;
    }

    &:hover {

        background-color: #d0d0d0;
        text-decoration: none;

        border: 1px solid #d0d0d0;
    }
}

.btn-cool[disabled],
.btn-cool.dis {

    opacity: 0.5;
    cursor: default;

    &:hover {

        background-color: #fafafa;
        border: 1px solid #d0d0d0;
        opacity: 0.5;
    }
}

.a-plain {

    border: none !important;
    background: none !important;

    color: @ens-black !important;

    &:hover {

        color: @product-color !important;
    }

    &.selected {

        font-weight: 600 !important;
    }
}

/**
*
*   MODALS
*
**/

.modal-lg .modal-dialog {

    width: 85%;
}


.progress-bar-product {

    background-color: @product-color;
}

// DEPENDS ON _colors.less for @product_color

// HEADER, NAVBAR, FOOTER HEIGHTS AND WIDTHS

@header-height: 50px;
@header-border: 0px;
@header-item-height: calc(@header-height - @header-border);

@navbar-side-width: 219px;

@footer-height: 41px;

// HEADER - LEFT SIDE ITEMS

.header .navbar {

    height: @header-height;
    background: #3c3c3c;
    border:none;
}

.header .navbar-limit {

    width: 840px;
    height: @header-height;
    margin: auto;
}

.header-brand {

    position: fixed;
    float: left;
    z-index: 9999;

    height: @header-item-height;
    width: 100px;
}

.header-products {

    float: left;

    height: @header-item-height;
    width : auto;
    margin-left: 55px;

    color:  @product-color;
    text-transform: lowercase;

    cursor: pointer;
}

.header-logo {

    height: 70px;
    margin-top: -10px;
}

.header-products .selected {

    position: absolute;

    height: 26px;
    width: auto;

    margin: 10px 0 0;

    // padding: 6px 0 12px 0;

    &:focus {

        outline: none;
        text-decoration: none;
    }

    img {

        height: 100%;
    }
}

.header-products .options{

    font-size: 14px;
    padding: 12px;
    color: @product-color;
}

.header-products .dropdown-menu {

    margin-top: 4px;
    margin-left: 150px;
}

// HEADER - RIGHT SIDE ITEMS

.header-account {

    height: @header-item-height;
    float: right;

    margin: 0;
    margin-right: 55px;
    padding: 15px 0;

    font-size: 14px;
    color: #868686;
}

.header-account .header-client {

    color: white;
    font-weight: 500;
}

.header-glyphicon {

    color: white;
}

.header-account-more {

    float: right;

    height: @header-item-height;
    margin: 0;
    padding: 14px 20px 15px 0;
    font-size: 15px;
}

.header-account-more .dropdown-menu {

    right: 0;
    left: auto;
    top: 48px;

    margin-right: 5px;
}


button {

    &:focus {

        outline: none;
    }
}
