body {
    background-color: #FFFFFF;
    color: #000000;
    padding: 0;
    overflow: hidden;
    margin: 0;
    font-family: Vollkorn,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
}

#globalContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#globalWrapper {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
}

#globalMain {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40px;
    left: 0;
    overflow: auto;
}

/*prevent columns from taking width: 100%*/

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11 {
    float: left;
}
.col-md-12 {
    width: 100%;
}
.col-md-11 {
    width: 91.66666666666666%;
}
.col-md-10 {
    width: 83.33333333333334%;
}
.col-md-9 {
    width: 75%;
}
.col-md-8 {
    width: 66.66666666666666%;
}
.col-md-7 {
    width: 58.333333333333336%;
}
.col-md-6 {
    width: 50%;
}
.col-md-5 {
    width: 41.66666666666667%;
}
.col-md-4 {
    width: 33.33333333333333%;
}
.col-md-3 {
    width: 25%;
}
.col-md-2 {
    width: 16.666666666666664%;
}
.col-md-1 {
    width: 8.333333333333332%;
}
.col-md-pull-12 {
    right: 100%;
}
.col-md-pull-11 {
    right: 91.66666666666666%;
}
.col-md-pull-10 {
    right: 83.33333333333334%;
}
.col-md-pull-9 {
    right: 75%;
}
.col-md-pull-8 {
    right: 66.66666666666666%;
}
.col-md-pull-7 {
    right: 58.333333333333336%;
}
.col-md-pull-6 {
    right: 50%;
}
.col-md-pull-5 {
    right: 41.66666666666667%;
}
.col-md-pull-4 {
    right: 33.33333333333333%;
}
.col-md-pull-3 {
    right: 25%;
}
.col-md-pull-2 {
    right: 16.666666666666664%;
}
.col-md-pull-1 {
    right: 8.333333333333332%;
}
.col-md-pull-0 {
    right: 0;
}
.col-md-push-12 {
    left: 100%;
}
.col-md-push-11 {
    left: 91.66666666666666%;
}
.col-md-push-10 {
    left: 83.33333333333334%;
}
.col-md-push-9 {
    left: 75%;
}
.col-md-push-8 {
    left: 66.66666666666666%;
}
.col-md-push-7 {
    left: 58.333333333333336%;
}
.col-md-push-6 {
    left: 50%;
}
.col-md-push-5 {
    left: 41.66666666666667%;
}
.col-md-push-4 {
    left: 33.33333333333333%;
}
.col-md-push-3 {
    left: 25%;
}
.col-md-push-2 {
    left: 16.666666666666664%;
}
.col-md-push-1 {
    left: 8.333333333333332%;
}
.col-md-push-0 {
    left: 0;
}
.col-md-offset-12 {
    margin-left: 100%;
}
.col-md-offset-11 {
    margin-left: 91.66666666666666%;
}
.col-md-offset-10 {
    margin-left: 83.33333333333334%;
}
.col-md-offset-9 {
    margin-left: 75%;
}
.col-md-offset-8 {
    margin-left: 66.66666666666666%;
}
.col-md-offset-7 {
    margin-left: 58.333333333333336%;
}
.col-md-offset-6 {
    margin-left: 50%;
}
.col-md-offset-5 {
    margin-left: 41.66666666666667%;
}
.col-md-offset-4 {
    margin-left: 33.33333333333333%;
}
.col-md-offset-3 {
    margin-left: 25%;
}
.col-md-offset-2 {
    margin-left: 16.666666666666664%;
}
.col-md-offset-1 {
    margin-left: 8.333333333333332%;
}
.col-md-offset-0 {
    margin-left: 0;
}

/*
 * Highlight table row
 */
tr.isFocused {
    background-color: #d9edf7 !important;
}

tr.isFocused td {
    background-color: inherit !important;
}

tr.isFocused:hover {
    background-color: #c4e3f3 !important;
}

tr.even td:last-child, tr.odd td:last-child, tr.listHeader th:last-child {
    padding-right: 15px;
}


h2, .h2 {
    font-size: 17px;
    color: #1d252c;
}
.text-left {
    text-align: left !important;
}
label {
    color: #1D252C;
    display: inline-block;
    font-weight: 500;
    line-height: 1.428571429;
    margin: 0 10px 0 0 !important;
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 3px;
}
.radio, .checkbox {
    margin-bottom: 5px;
    margin-top: 5px;
}
.nav.nav-pills.visualstep {
}
.modal-header > h1,
.modal-header > h2,
.modal-header > h3,
.modal-header > h4,
.modal-header > h5,
.modal-header > h6
{
    margin: 0 0 0 50px;
}
.box h4.box-header {
    cursor: default;

    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;

    size:10px;
    padding: 7px 7px;
    margin: 0;
    list-style: none;
}

h4.box-header.round-top {
    background: #406683;
    background-color: #406683;
    background-image: -moz-linear-gradient(top, #406683, #0c3d61);
    background-image: -ms-linear-gradient(top, #406683, #0c3d61);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#406683), to(#0c3d61));
    background-image: -webkit-linear-gradient(top, #406683, #0c3d61);
    background-image: -o-linear-gradient(top, #406683, #0c3d61);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #406683), color-stop(1, #0c3d61));
    background-image: -webkit-linear-gradient(top, #406683 0%, #0c3d61 100%);
    background-image: -moz-linear-gradient(top, #406683 0%, #0c3d61 100%);
    background-image: -o-linear-gradient(top, #406683 0%, #0c3d61 100%);
    background-image: -ms-linear-gradient(top, #406683 0%, #0c3d61 100%);
    background-image: linear-gradient(top, #406683 0%, #0c3d61 100%);
    filter: 'progid:dximagetransform.microsoft.gradient(startColorstr='#406683', endColorstr='#0c3d61', GradientType=0)';
    background-repeat: repeat-x;
    border: 1px solid #406683;
    -webkit-box-shadow: inset 0 1px 0 #406683;
    -moz-box-shadow: inset 0 1px 0 #406683;
    -webkit-box-shadow: inset 0 1px 0 #406683;
    box-shadow: inset 0 1px 0 #406683;
    color: #fff;
}

.box .box-container-toggle {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 0.337;
}
.btn-toolbar {
    margin-top: 9px;
    margin-bottom: 9px;
}
.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group, .btn-toolbar > .btn-group + .btn-group {
    margin-left: 10px;
}

.fade.in {
    outline: none;
}
.modal-dialog,
.modal-dialog:focus{
    padding-top: 60px;
    outline: none;
}
.container {
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.mainContentContainer {
    min-width: 1080px;
    width: auto;
}

.mainContentContainer, .swfContainer {
    height: calc(100% - 45px);
}
.mainContent {
    min-width: 1000px;
}
.mainContent [class*="ListContainer"]{
    min-height: 403px;
}
@media all and (max-width: 1200px) {
    .mainContent.col-md-push-2 {
        left: 198px;
    }
}



/*
 * Data Table - Pageination
 */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1.42857;
}

div.dataTables_length {
    float: left;
    padding-left: 10px;
}

div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    display: none;
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 1em 0;
    clear: both;
    display: inline-table;
}

table.dataTable th:active {
    outline: none;
}
.dataTables_filter input, .dataTables_length select {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    *zoom: 1;
}

.sort-index, .hidden {
    left: -10000px;
    position: absolute;
    top: -10000px;
    visibility: hidden;
}


/*
 * Deployments
 */
.deployListCtn {
    position: relative;
}

.deployListCtn .spaceSelect {
    position: absolute;
    right: 13px;
    top: 6px;
}

/*select2 bootstrap (from select2)*/
.form-control .select2-choice {
    border: 0;
    border-radius: 2px;
}

.form-control .select2-choice .select2-arrow {
    border-radius: 0 2px 2px 0;
}

.form-control.select2-container {
    height: auto !important;
    padding: 0px;
}

.form-control.select2-container.select2-dropdown-open {
    border-color: #5897FB;
    border-radius: 3px 3px 0 0;
}

.form-control .select2-container.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0;
}

.form-control.select2-container .select2-choices {
    border: 0 !important;
    border-radius: 3px;
}

.control-group.warning .select2-container .select2-choice,
.control-group.warning .select2-container .select2-choices,
.control-group.warning .select2-container-active .select2-choice,
.control-group.warning .select2-container-active .select2-choices,
.control-group.warning .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.warning .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.warning .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #C09853 !important;
}

.control-group.warning .select2-container .select2-choice div {
    border-left: 1px solid #C09853 !important;
    background: #FCF8E3 !important;
}

.control-group.error .select2-container .select2-choice,
.control-group.error .select2-container .select2-choices,
.control-group.error .select2-container-active .select2-choice,
.control-group.error .select2-container-active .select2-choices,
.control-group.error .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.error .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.error .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #B94A48 !important;
}

.control-group.error .select2-container .select2-choice div {
    border-left: 1px solid #B94A48 !important;
    background: #F2DEDE !important;
}

.control-group.info .select2-container .select2-choice,
.control-group.info .select2-container .select2-choices,
.control-group.info .select2-container-active .select2-choice,
.control-group.info .select2-container-active .select2-choices,
.control-group.info .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.info .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.info .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #3A87AD !important;
}

.control-group.info .select2-container .select2-choice div {
    border-left: 1px solid #3A87AD !important;
    background: #D9EDF7 !important;
}

.control-group.success .select2-container .select2-choice,
.control-group.success .select2-container .select2-choices,
.control-group.success .select2-container-active .select2-choice,
.control-group.success .select2-container-active .select2-choices,
.control-group.success .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.success .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.success .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #468847 !important;
}

.control-group.success .select2-container .select2-choice div {
    border-left: 1px solid #468847 !important;
    background: #DFF0D8 !important;
}
.input-group-addon {
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    padding: 5px 12px;
    text-align: center;
}


/*
 * New Styling
 */
body {
    font-family: "Vollkorn", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.1;
    color: #5B6770;
    background-color: #ffffff;
}
a {
    color: #007c8b;
    text-decoration: none;
    cursor: pointer;
}
a:hover,
a:focus {
    color: #00383e;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted #333;
}
.img-thumbnail {
    line-height: 1;
    border: 1px solid #dadbdc;
}
hr {
    margin-top: 13px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid #e6e5e4;
}
.text-muted {
    color: #d0d3d4;
}
.text-primary {
    color: #007c8b;
}
.text-primary:hover {
    color: #004f58;
}
.text-warning {
    color: #ffd200;
}
.text-warning:hover {
    color: #cca800;
}
.text-danger {
    color: #ff4539;
}
.text-danger:hover {
    color: #ff1506;
}
.text-success {
    color: #3bc306;
}
.text-success:hover {
    color: #2c9204;
}
.text-info {
    color: #00bfd7;
}
.text-info:hover {
    color: #0092a4;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 400;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    color: #d0d3d4;
}
.page-header {
    border-bottom: 1px solid #e6e5e4;
}
abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #d0d3d4;
}
blockquote {
    border-left: 5px solid #e6e5e4;
}
blockquote small {
    color: #d0d3d4;
}
blockquote.pull-right {
    border-right: 5px solid #e6e5e4;
}
code {
    color: #9203c7;
    background-color: #f8e5ff;
}
pre {
    color: #1a4449;
    background-color: #e8eded;
    border: 1px solid #8a9d9f;
    border-radius: 3px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #d0d3d4;
    max-width: 500px;
    /*overflow: hidden;*/
    word-wrap: break-word;
}
.table > thead > tr > th {
    border-bottom: 2px solid #d0d3d4;
    cursor: pointer;
}
.table > tbody > tr > td[class*='checkBoxFor'] ~ td {
    cursor: pointer;
}
.table > tbody + tbody {
    border-top: 2px solid #d0d3d4;
}
.table-bordered {
    border: 1px solid #d0d3d4;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #d0d3d4;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f8f7;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #f5f3f1;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #f5f3f1;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background-color: #e6f7df;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
    background-color: #d6f2cb;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    background-color: #ffe7e5;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
    background-color: #ffcfcb;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
    background-color: #fff9de;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
    background-color: #fff4c4;
}
.list-unstyled.infos > li {
    margin: 0 0 5px;
}
legend {
    color: #1d252c;
    border-bottom: 1px solid #a3aaae;
    padding-bottom: 10px;
}
output {
    color: #5b6770;
}

.dtSearchCtn {
    float: right;
    margin: 0 10px 0 0;
}
.dataTables_filter {
    float: right;
    padding-right: 10px;
    /*width: 220px;*/
}
.dtFilterCtn {
    float: right;
}
.dtFilterCtn .dropdown-toggle {
    margin-right: 10px;
}
.searchTypeCtn {
    margin-right: 0px;
}
.form-horizontal .control-label {
    text-align: left;
}
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #D0D3D4;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #5B6770;
    display: block;
    font-size: 13px;
    height: auto;
    line-height: 1.1;
    padding: 4px 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

select.form-control {
    height: 27px;
}

input[type="text"].form-control {
    height: 27px;
}

.form-control:focus {
    border-color: #65dbea;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(101, 219, 234, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(101, 219, 234, 0.6);
}
.form-control:-moz-placeholder {
    color: #a3aaae;
}
.form-control::-moz-placeholder {
    color: #a3aaae;
}
.form-control:-ms-input-placeholder {
    color: #a3aaae;
}
.form-control::-webkit-input-placeholder {
    color: #a3aaae;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eeeeee;
}
.help-inline.validateFieldError {
    color: #e10e00;
    display: inline-block;
    margin: 0 0 0 210px;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
    color: #ffd200;
}
.has-warning .form-control {
    border-color: #ffd200;
}
.has-warning .form-control:focus {
    border-color: #cca800;
}
.has-warning .input-group-addon {
    color: #ffd200;
    border-color: #ffd200;
    background-color: #fff9de;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #ff4539;
}
.has-error .form-control {
    border-color: #ff4539;
}
.has-error .form-control:focus {
    border-color: #ff1506;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa59f;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa59f;
}
.has-error .input-group-addon {
    color: #ff4539;
    border-color: #ff4539;
    background-color: #ffe7e5;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color: #3bc306;
}
.has-success .form-control {
    border-color: #3bc306;
}
.has-success .form-control:focus {
    border-color: #2c9204;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #6df936;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #6df936;
}
.has-success .input-group-addon {
    color: #3bc306;
    border-color: #3bc306;
    background-color: #e6f7df;
}
.help-block {
    color: #506679;
}
.btn {
    display: inline-block;
    padding: 5px 13px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn:hover,
.btn:focus {
    color: #5b6770;
}
.btn-default {
    color: #5b6770;
    background: #fefefe;
    background: -moz-linear-gradient(top,  #fefefe 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top,  #fefefe 0%,#f5f5f5 100%);
    background: -o-linear-gradient(top,  #fefefe 0%,#f5f5f5 100%);
    background: -ms-linear-gradient(top,  #fefefe 0%,#f5f5f5 100%);
    background: linear-gradient(to bottom,  #fefefe 0%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f5f5f5',GradientType=0 );
    border-color: #a3aaae;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background: #f5f5f5;
    background: -moz-linear-gradient(top,  #f5f5f5 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top,  #f5f5f5 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top,  #f5f5f5 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom,  #f5f5f5 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
    color: #5b6770;
    border-color: #5B6770;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #ddd;
    border-color: #aaa;
}
.btn-primary {
    color: #ffffff;
    background-color: #007c8b;
    border-color: #006572;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #005862;
    border-color: #002f34;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #007c8b;
    border-color: #006572;
}
.btn-warning {
    color: #1d252c;
    background-color: #ffd200;
    border-color: #e6bd00;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    color: #1d252c;
    background-color: #d6b000;
    border-color: #a88b00;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #ffd200;
    border-color: #e6bd00;
}
.btn-danger {
    color: #ffffff;
    background-color: #ff4539;
    border-color: #ff2d20;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #ff1f10;
    border-color: #e10e00;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #ff4539;
    border-color: #ff2d20;
}
.btn-success {
    color: #ffffff;
    background-color: #3bc306;
    border-color: #34aa05;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #2f9b05;
    border-color: #226f03;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #3bc306;
    border-color: #34aa05;
}
.btn-info {
    color: #ffffff;
    background-color: #04c0d8;
    border-color: #04aabf;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #039cb0;
    border-color: #027483;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #04c0d8;
    border-color: #04aabf;
}
.btn-link {
    color: #007c8b;
}
.btn-link:hover,
.btn-link:focus {
    color: #00383e;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #c6c8c9;
}
.dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #c6c8c9;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    font-size: 13px;
}
.dropdown-menu .divider {
    background-color: #e6e5e4;
}
.dropdown-menu > li > a {
    color: #5b6770;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #f5f4f3;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #007c8b;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #d0d3d4;
}
.dropdown-header {
    color: #d0d3d4;
}
.btn-default .caret {
    border-top-color: #5b6770;
}
.btn-primary .caret,
.btn-success .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret {
    border-top-color: #fff;
}
.dropup .btn-default .caret {
    border-bottom-color: #5b6770;
}
.dropup .btn-primary .caret,
.dropup .btn-success .caret,
.dropup .btn-warning .caret,
.dropup .btn-danger .caret,
.dropup .btn-info .caret {
    border-bottom-color: #fff;
}
.input-group-addon {
    color: #5b6770;
    background-color: #d0d3d4;
    /*border: 1px solid #65dbea;*/
    border-radius: 3px;
}
.nav-stacked > li + li {
    margin-top: 0px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #e6e5e4;
}
.nav > li.disabled > a {
    color: #d0d3d4;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #d0d3d4;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
    border-color: #007c8b;
}
.nav .open > a .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret {
    border-top-color: #00383e;
    border-bottom-color: #00383e;
}
.nav-tabs {
    border-bottom: 1px solid #5b6770;
}
.nav-tabs > li > a {
    background-color: #d0d3d4;
    border-bottom: 1px solid #5b6770;
    color: #5b6770;
}
.nav-tabs > li > a:hover {
    border-color: #d0d3d4 #d0d3d4 #5b6770;
    background-color: #a3aaae;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: white;
    background-color: #5b6770;
    border: 1px solid #5b6770;
}
.nav-tabs.nav-justified > li > a {
    border-radius: 3px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #a3aaae;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #a3aaae;
        border-radius: 3px 3px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #00bfd7;
}
.nav-pills > li.active > a .caret,
.nav-pills > li.active > a:hover .caret,
.nav-pills > li.active > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.nav-tabs-justified > li > a {
    margin-right: 0;
    border-radius: 3px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
    border: 1px solid #a3aaae;
}
@media (min-width: 768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #a3aaae;
        border-radius: 3px 3px 0 0;
    }
}
.nav .caret {
    border-top-color: #007c8b;
    border-bottom-color: #007c8b;
}
.nav a:hover .caret {
    border-top-color: #00383e;
    border-bottom-color: #00383e;
}
.navbar {
    min-height: 44px;
    margin-bottom: 13px;
    border: 1px solid transparent;
}
.navbar-default {
    background-color: #1d252c;
    border-color: #1d252c;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar-default .navbar-text {
    color: #a3aaae;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #dddddd;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #31373c;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #1d252c;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #dddddd;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #31373c;
        background-color: transparent;
    }
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #dddddd;
}
.navbar-inverse {
    background-color: #d0d3d4;
    border-color: #d0d3d4;
}
.navbar-inverse .navbar-brand {
    color: #007b8b;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #003b4a;
    background-color: transparent;
}
.navbar-inverse .navbar-text {
    color: #5b6770;
}
.navbar-inverse .navbar-nav > li > a {
    color: #007b8b;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #003b4a;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #007b8b;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #c6c8c9;
    background-color: transparent;
}
.navbar-inverse .navbar-toggle {
    border-color: #007c8b;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #003b4a;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #007c8b;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #bdc2c3;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #007b8b;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #003b4a;
    border-bottom-color: #003b4a;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #007b8b;
    border-bottom-color: #007b8b;
}
.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #007b8b;
    border-bottom-color: #007b8b;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #d0d3d4;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #007b8b;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #003b4a;
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #007b8b;
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #c6c8c9;
        background-color: transparent;
    }
}
.navbar-inverse .navbar-link {
    color: #007b8b;
}
.navbar-inverse .navbar-link:hover {
    color: #003b4a;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 13px;
    list-style: none;
    background-color: #f5f4f3;
    border-radius: 3px;
}
.breadcrumb > .active {
    color: #d0d3d4;
}
.pagination > li > a,
.pagination > li > span {
    border: 1px solid #dadbdc;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #e6e5e4;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #007c8b;
    border-color: #007c8b;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #d0d3d4;
    background-color: #ffffff;
    border-color: #dadbdc;
}
.pager li > a,
.pager li > span {
    border: 1px solid #dadbdc;
}
.label-default {
    background-color: #d0d3d4;
}
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #b5babc;
}
.label-primary {
    background-color: #007c8b;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #004f58;
}
.label-success {
    background-color: #3bc306;
}
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #2c9204;
}
.label-info {
    background-color: #04c0d8;
}
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #0393a6;
}
.label-warning {
    background-color: #ffd200;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #cca800;
}
.label-danger {
    background-color: #ff4539;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #ff1506;
}
.badge {
    background-color: #d0d3d4;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #007c8b;
}
.jumbotron {
    background-color: #e6e5e4;
}
.thumbnail {
    background-color: #ffffff;
    border: 1px solid #dadbdc;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #007c8b;
}
.thumbnail .caption {
    color: #1d252c;
}
.alert-success {
    background-color: #e6f7df;
    border-color: #ddf2cb;
    color: #3bc306;
}
.alert-success hr {
    border-top-color: #cfedb6;
}
.alert-success .alert-link {
    color: #2c9204;
}
.alert-info {
    background-color: #def7fa;
    border-color: #bff5f2;
    color: #00bfd7;
}
.alert-info hr {
    border-top-color: #a9f2ee;
}
.alert-info .alert-link {
    color: #0092a4;
}
.alert-warning {
    background-color: #fff9de;
    border-color: #ffebc4;
    color: #ffd200;
}
.alert-warning hr {
    border-top-color: #ffe2ab;
}
.alert-warning .alert-link {
    color: #cca800;
}
.alert-danger {
    background-color: #ffe7e5;
    border-color: #ffcbd0;
    color: #ff4539;
}
.alert-danger hr {
    border-top-color: #ffb2b9;
}
.alert-danger .alert-link {
    color: #ff1506;
}
.progress {
    overflow: hidden;
    height: 13px;
    margin-bottom: 13px;
    background-color: #f5f4f3;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 13px;
    color: #ffffff;
    text-align: center;
    background-color: #d0d3d4;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.progress-bar-success {
    background-color: #3bc306;
}
.progress-bar-info {
    background-color: #04c0d8;
}
.progress-bar-warning {
    background-color: #ffd200;
}
.progress-bar-danger {
    background-color: #ff4539;
}
a.list-group-item:hover,
a.list-group-item:focus {
    text-decoration: none;
    background-color: #f5f4f3;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #007c8b;
    border-color: #007c8b;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
    color: #58edff;
}
.panel.panel-default:last-of-type {
    margin-bottom: 10px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
    border-top: 1px solid #d0d3d4;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f4f3;
    border-top: 1px solid #d0d3d4;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid #d0d3d4;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #d0d3d4;
}
.panel-default {
    border-color: #d0d3d4;
}
.panel-default > .panel-heading {
    color: #5b6770;
    background-color: #f5f4f3;
    border-color: #d0d3d4;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #d0d3d4;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #d0d3d4;
}
.panel-primary {
    border-color: #007c8b;
}
.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #007c8b;
    border-color: #007c8b;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #007c8b;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #007c8b;
}
.panel-success {
    border-color: #ddf2cb;
}
.panel-success > .panel-heading {
    color: #3bc306;
    background-color: #e6f7df;
    border-color: #ddf2cb;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ddf2cb;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #ddf2cb;
}
.panel-warning {
    border-color: #ffebc4;
}
.panel-warning > .panel-heading {
    color: #ffd200;
    background-color: #fff9de;
    border-color: #ffebc4;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ffebc4;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #ffebc4;
}
.panel-danger {
    border-color: #ffcbd0;
}
.panel-danger > .panel-heading {
    color: #ff4539;
    background-color: #ffe7e5;
    border-color: #ffcbd0;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ffcbd0;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #ffcbd0;
}
.panel-info {
    border-color: #bff5f2;
}
.panel-info > .panel-heading {
    color: #00bfd7;
    background-color: #def7fa;
    border-color: #bff5f2;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #bff5f2;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #bff5f2;
}
.well {
    background-color: #f5f4f3;
    border: 1px solid #e5e2e0;
}
.modal-backdrop {
    background-color: #1d252c;
}
.modal-body {
    word-wrap: break-word;
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #c5c4c3;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
}

.login-input {
    -webkit-appearance: textfield;
    margin: 0;
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 210px;
    height: 26px;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    position: relative;
    vertical-align: middle;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

.modal-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: medium none;
    border-radius: 6px;
    outline: 0 none;
    position: relative;
}
.modal-title {
    line-height: 1.1;
    margin: 0;
}
.modal-header {
    background: none repeat scroll 0 0 #1D252C;
    border-bottom: medium none;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    min-height: 16.4286px;
    padding: 15px;
}
.modal-backdrop {
    background-color: #1d252c;
}
.modal-footer {
    background: none repeat scroll 0 0 #F5F5F5;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #E5E5E5;
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    min-width: 200px;
    padding: 1px;
    text-align: left;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #c5c4c3;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
}
.popover .popover-title {
    white-space: nowrap;
}
.footer.footer-style {
    background-color: rgba(146,153,158,0.73);
    border-top: medium none;
    bottom: 0;
    box-shadow: none;
    color: #FFFFFF;
    display: block;
    font-size: 0.85em;
    height: 40px;
    left: 0;
    padding: 10px 0;
    position: absolute;
    right: 0;
    top: auto;
}
.defaultListItem.active .defaultPointer {
    background: none repeat scroll 0 0 #00BFD7;
}

.currentPassword {
    width: 200px;
}

.newPassword {
    width: 200px;
}

.confirmPassword {
    width: 200px;
}

.help-inline.settingsValidation {
    margin: 0 0 0 0;
}

.help-inline.confirmPasswordValidation {
    margin: 0 0 0 0;
}

/*
 *
 * Additional Icons
 *
 */
.icon-publish-published {
    background-position: -216px -168px;
}

.icon-publish-published-bang {
    background-position: -240px -168px;
}

/*
 *
 * Tab styling
 *
 */
.nav > li > a {
    display: block;
    padding: 5px 15px;
    position: relative;
    }

.tabRow.nav > li > a {
    padding: 10px 0 10px 40px;
    }

.tabRow.nav > li.submenu > a {
    padding: 10px 0 10px 60px;
}

/*
.tabRow.nav > li.submenu {
    background-color: #919ca2;
}
*/

.tabRow.nav > li.submenu.active {
    background-color: #919ca2;
}

.defaultListItem a.defaultPointer, .defaultListItem a.defaultPointer:hover {
    border-radius: 0;
    margin-top: 20px;
    padding: 10px 0 !important;
    }

/*Alerts:  Jonathan's Changes'*/
.close {
    float: right;
    font-size: 22px;
    font-weight: normal;
    line-height: 1;
    opacity: 1;
    text-shadow: none;
}
.alert-danger {
    background-color: #FF4539;
    border-color: #FF4539;
    color: #FFFFFF;
}
.alert-warning {
    background-color: #FFD200;
    border-color: #FFD200;
    color: #1D252C;
}
.alert-success {
    background-color: #3BC306;
    border-color: #3BC306;
    color: #FFFFFF;
}
.alert-info {
    background-color: #00BFD7;
    border-color: #00BFD7;
    color: #FFFFFF;
}
.alert-default {
    background: none repeat scroll 0 0 #D0D3D4;
    border-color: #D0D3D4;
    color: #1D252C;
}

/* Remove text shadow from alerts. */
.alert {
    text-shadow: none;
}
