.nav-list [class^="icon-"] {
    margin: 0 0 0 4px;
    padding: 0 5px;
}

.nav-list .glyphicon .glyphicon-eye {
    padding: 0;
    margin-right: 2px;
}

.mainNav .mainInfo .accountInfo {
    float: left;
    padding-top: 0px;
    background-color: transparent;
    margin-left: 15px;
}

.taskNotification {
    float: left;
    background-color: transparent;
}

.mainNav .mainInfo .accountInfo .label {
    float: left;
    border-radius: 0px;
    background-color: transparent;
    -webkit-border-radius: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: normal;
    color: #868686;
    white-space: nowrap;
    text-shadow: none;
    line-height: 40px;
}

.mainNav .mainInfo .accountInfo .clientName {
    float: left;
    padding-right: 15px;
    color: white;
}
.mainActions .btn {
    padding: 9px 15px;
}
/*HEADER STYLES*/
.mainNavContainer {
    color: white;
    height: 44px;
    line-height: 40px;
}
.dropdownContainer a i{
    color: white;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    padding: 0 15px;
}
.ens-logo,
.ens-logo-login{
    content: ' ';
    width: 0px;
    height: 0px;
}
.ens-logo:after,
.ens-logo-login:after{
    background: url(/images/ens-logo.svg);
    width: 93px;
    height: 26px;
    top: 10px;
    position: absolute;
    content: ' ';
}
.ens-logo-login:after {
    left: 20px;
}
.side-nav-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    left: auto;
}
.side-nav-toggle:focus {
    outline: none;
}

.side-nav-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.side-nav-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.side-nav-toggle .icon-bar {
    background-color: #ffffff;
}
.side-nav-toggle .popover.bottom .arrow{
    left: 10%;
}
.side-nav-toggle .popover.bottom {
    left: 0 !important;
}
.headerResize {
    padding-left: 15px;
    padding-right: 15px;
}
.headerResize .side-nav-toggle {
    margin-left: -45px;
}
.headerResize.col-md-offset-2 .side-nav-toggle{
    margin-left: -33px;
}
.headerResize .nav.navbar-nav.navbar-right {
    margin-right: -40px;
}
/* login */
.loginFormContainer .validateFieldError {
    color: red;
    padding-left: 15px;
    padding-right: 15px;
}

/*
 *
 * Size of the table and details panels
 *
 */
.mainData {
}

.mainData .col-md-8 {
    width: 800px;
}

.mainData .col-md-4 {
    width: 330px;
}

.mainData .info-line {
    line-height: 18px;
    margin-bottom: 5px;
}

.mainData .info-label {
    white-space: nowrap;
}
.detailsPanel {
    position: relative;
    min-height: 1px;
    xpadding-right: 15px;
    xpadding-left: 15px;
    left: 72%;
    width: calc(27.7777775% - 20px);
    min-width: 300px;
}
.detailsPanelContainer {
    min-width: 1000px;
}
@media all and (max-width: 1200px) {
    .detailsPanel {
        left: 864px;
    }
}

.tombstone-margin {
    margin-top: 94px;
}

/*
 *
 * Datatable
 *
 */
.btn-group.spaceSelect {
    position: absolute;
    top: 7px;
    right: 30px;
}
.dataTables_length {
    padding-top: 10px;
}

.dataTables_paginate {
    padding-top: 10px;
}
.pagination > li.paginationBtn {
    display: inline-block;
    border: 0px;
}
.conditionSelectContainer {
    word-break: break-word;
}
.conditionSelectContainer .dataTables_length,
.conditionSelectContainer .dataTables_paginate {
    position: relative;
    bottom: 20px;
}
/*
 *
 * Ensighten Table Pagination Control
 *
 */
.ensightenTablePagination {
    height: 20px;
    margin: 0px 0px;
    padding-right: 10px;
}

.ensightenTablePagination .label {
    float: left;
    color: #7d7d7d;
    background-color: transparent;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 2px 0px 2px;
}

.ensightenTablePagination .label.totalPages {
    padding-right: 20px;
    width: 50px;
    text-align: left;
}

.ensightenTablePagination .currentPage {
    float: left;
    width: 20px;
    padding: 2px;
    margin: 0px;
}

.ensightenTablePagination .btn .btn-default {
    float: left;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 0px;
    background-color: #f5f5f5;
    width: 32px;
    height: 20px;
    padding: 0px;
    margin: 0px;
}

.ensightenTablePagination .btn .btn-default.disabled {
    cursor: default;
}

.ensightenTablePagination .btn .btn-default.leftBtn {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: none;
}

.ensightenTablePagination .btn .btn-default.nextPage {
    border-left: none;
}

.ensightenTablePagination .btn .btn-default.rightBtn {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: none;
}

.ensightenTablePagination .btn .btn-default .btn .btn-defaultLabel {
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #0088CC; /*#7d7d7d;*/
}

.ensightenTablePagination .btn .btn-default.disabled .btn .btn-defaultLabel {
    color: #7d7d7d;
}

/*
 *
 * Deployment and App Config Wizard
 *
 */
/* Step 2 */
.conditionItems2 {
    list-style: none;

    margin: 0;
    padding: 0;
}

.conditionItems2 > li {
    xmargin-left: 10px;
    margin-bottom: 5px;
}

.conditionMandatedItem2 {
    width: auto;
    height: 35px;
    background: #0e4166;
    color: #ffffff;

    line-height: 1;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.conditionMandatedItem2 .mandatedName {
    font-size: 13px;
    xfont-weight: bold;
    line-height: 15px;

    overflow: hidden;;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-rendering: optimizelegibility;

    margin-left: 8px;
    margin-top: 4px;
}

.conditionMandatedItem2 .mandatedLabel {
    font-size: 10px;

    overflow: hidden;;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-rendering: optimizelegibility;

    margin-left: 8px;
}

.conditionItem2 {
    width: auto;
    height: 25px;
    background: #0087cf;
    color: #ffffff;
    cursor: pointer;

    line-height: 1;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.step2Or {
    width: 100%;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
    font-size: 13px;
}

.step2And {
    width: 100%;
    text-align: center;
    text-transform: uppercase;

    color: #0e4166;
    font-size: 13px;
}

.step2AndSep hr {
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #aaaaaa;
    margin-top: 20px;
    width: 100%;
}

.step2AndSep .step2AndSepImage {
    background-image: url('/public/images/AND-plus-circle.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;

    margin-top: -18px;
    margin-left: calc(50% - 13px);
    width: 25px;
    height: 25px;
}

.conditionItem2 .close {
    opacity: 0.4;
    margin-right: 8px;
}

.conditionItem2 h4, .conditionItem2 h5 {
    margin-top: 4px;
    margin-left: 8px;
    font-size: 13px;
    font-weight: normal;
}

/*
 *
 * Deploy Edit/New Modal
 *
 */
/* header */
/*.deployEdit .headerIcon {*/
/*content: ' ';*/
/*width: 0px;*/
/*height: 0px;*/
/*}*/

/*.deployEdit .headerIcon:after {*/
/*background-image: url('/public/images/headerIcons/cog-icon.svg');*/
/*background-color: white;*/
/*background-size: 24px 24px;*/
/*background-repeat: no-repeat;*/
/*margin-top: 2px;*/
/*width: 24px;*/
/*height: 24px;*/
/*position: absolute;*/
/*content: ' ';*/
/*}*/
.modal-header .glyphicon {
    position: absolute;
    left: 15px;
    font-size: 28px;
    top: 10px;
}

.modal-header.deployEdit > h3 {
    margin-left: 35px;
}

.deployEdit .appName {
    color: #00BFd7;
    margin-left: 10px;
}

/* Step 4 Selected Conditions */
.deployEditContainer .wizardContent.configAppContainer {
    height: 510px;
    padding: 0 20px;
}
.deployEditContainer .wizardContent .scrollSection {
    height: 380px;

    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.deployEditContainer .wizardContent .reviewConditions {
    position: relative;
    width: 790px /*100%*/ /*690px*/;
    height: auto;
    /*
    min-height:95px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    */

    line-height: normal;
    color: #ffffff;
}

.deployEditContainer .wizardContent .reviewConditions .betweenAnd{
    position: absolute;

    left: 387px;
    top: 40px;

    z-index: 100;

    color: #000000;
    background-color: transparent;
}

.deployEditContainer .wizardContent .reviewConditions .betweenAndImg {
    background-image: url('/public/images/AND-plus-circle.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;

    width: 25px;
    height: 25px;

    margin-top: 1px;
    margin-left: 1px;
}

.deployEditContainer .wizardContent .reviewConditions .mandatedSection {
    float: left;
    width: 400px;
    height: auto;
    xbackground-color: #b0e0e6;
    border-right: 1px solid black;
}

.deployEditContainer .wizardContent .reviewConditions .mandatedSection .mandatedCondition {
    width: 350px;
    height: 35px;
    background-color: #0e4166;
    border-radius: 10px;
    margin-left: 10px;
}

.deployEditContainer .wizardContent .reviewConditions .mandatedSection .mandatedCondition:first-child {
    margin-top: 10px;
}

.deployEditContainer .wizardContent .reviewConditions .mandatedSection .mandatedCondition:last-child {
    margin-bottom: 10px;
}

.deployEditContainer .wizardContent .reviewConditions .mandatedSection .mandatedCondition .name {
    font-size: 12px;
    padding: 4px 10px 0px;
    width: 340px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.deployEditContainer .wizardContent .reviewConditions .mandatedSection .mandatedCondition .staticLabel {
    font-size: 9px;
    padding: 0px 10px;
}

.deployEditContainer .wizardContent .reviewConditions .mandatedSection .mandatedAnd {
    width: 350px;
    text-align: center;
    color: #555555;
    font-size: 12px;
    margin: 5px 0px 5px 10px;
}

.deployEditContainer .wizardContent .reviewConditions .conditionsSection {
    float: left;
    width: 380px;
    height: auto;
    left: 500px;
}

.deployEditContainer .wizardContent .reviewConditions .conditionsSection .conditionOr {
    width: 350px;
    text-align: center;
    color: #555555;
    font-size: 12px;
    margin: 5px 0px 5px 20px;
}

.deployEditContainer .wizardContent .reviewConditions .conditionsSection .condition {
    width: 350px;
    height: 25px;
    background-color: #0087cf;
    border-radius: 10px;
    margin-left: 20px;

    font-size: 12px;
}

.deployEditContainer .wizardContent .reviewConditions .conditionsSection .condition:first-child {
    margin-top: 10px;
}

.deployEditContainer .wizardContent .reviewConditions .conditionsSection .condition:last-child {
    margin-bottom: 10px;
}

.deployEditContainer .wizardContent .reviewConditions .conditionsSection .condition .text {
    width: 340px;
    padding: 1px 0px 0px 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.deployDetailsContainer .mandatedCondLabel {
    color: #1D252C;
    font-size: 13px;
    font-weight: 600;
    margin: 15px 0 3px;
}

.deployDetailsContainer .mandatedCond {
//width: 260px;
//overflow: hidden;
//text-overflow: ellipsis;
//white-space: nowrap;
    margin: 0 0 7px;
    word-wrap: break-word;
}

.deployDetailsContainer .condition {
    word-wrap: break-word;
    line-height: 14px;
}

.deployEditContainer {
    margin-top: 18px;
    min-height: 580px;
    xmargin:10px;
}

/* app description */
.deployEditContainer .appTitle {
    /*padding-left: 15px;*/
    max-width: 200px;
    float: left;
}

.deployEditContainer .appCategories {
    max-width: 250px;
    margin-left: 10px;
    padding-top: 8px;
    float: left;
}

.deployEditContainer .appBetaMsg {
    width: 195px;
    margin-left: 10px;
    padding-top: 8px;
    float: left
}

.deployEditContainer .wizardHeaderLeft, .deployDescription {
    margin-bottom: 0;
    width: 100%;
    padding-right: 20px;
}

.deployEditContainer .wizardSteps {
    padding-left: 20px !important;
}

.deployEditContainer .wizardContent.configAppContainer {
    height: 497px;
    padding: 0 20px;
}

.deployEditContainer .wizardContent iframe {
    height: 490px;
    width: 800px;
}

/* Step 2 */
.deployEdit .wizardHeaderLeft {
    padding-left: 20px;
}

.deployEditContainer .conditionSelectContainer .detailsContainer {
    height: 445px;
}

.deployEditContainer .conditionSelectContainer .detailsContainer .conditionList {
    max-width: none;
    max-height: 450px;
    height: 450px;
    padding-right: 10px;
    width: 390px;
    overflow: auto;
}

.deployEditContainer .conditionSelectContainer .detailsContainer .conditionSelections {
    max-width: none;
    max-height: none;
    height: 450px;
    padding-left: 10px;
    width: 390px;
    overflow: auto;
}

.deployEditContainer .wizardContent .conditionAddContainer {
    height: 495px;
}

/* Step 3 */
.deployEditContainer .wizardHeaderLeft.nameDeploy {
    padding-left: 20px !important;
}

.deployEditContainer .wizardContent.step3 {
    height: 497px;
}

.deployEditContainer .wizardContent.step3 .sectionHeading {
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #7d7d7d;
}

/* Step 4 */
.deployEditContainer.reviewContainer label {
    padding-left: 5px;
    padding-right: 0;
}

.deployEditContainer.reviewContainer .ellipsisDiv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.deployEditContainer .fullDetails {
    height: 416px;
    margin: 10px 10px;
}

.deployEditContainer .fullDetails .editorContainer {
    height: 380px;
}

.deployEditContainer .fullDetails .editorContainer .editor {
    height: 380px;
}

.deployEditContainer .fullDetails .ruleContainer {
    height: 390px;
    max-height: 390px;
}

.deployEditContainer #selectedConditions {
    padding: 10px 0px;
}

/* Add conditions at step 2 */
.deployEditContainer .conditionsEdit-tab {
    height: 420px;
}

/* header */
.deployEditNav .nav.nav-pills.visualstep {
    margin: 0;
}

/* footer */


.deployEditContainer .wizardFooter .cancelBtn {
    margin-right: 0;
}

/*
.deployEditContainer #selectedConditions .reviewConditions {
    height: 380px;
    }
*/

/*
 *
 * History Entry
 *
 */
.historyEntry {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ensBootstrapBanner {
    width: 100%;
    color: #000000;
    text-align: center;
    background-color: #ffd200;
    opacity: 1;
    position: absolute;
    top: 45px;
    line-height: 30px;
    right: -1px;
}

.ensBootstrapBanner.noClose {
    width: 100%;
    color: #000000;
    text-align: center;
    background-color: #FF3333;
    opacity: 1;
    position: absolute;
    top: 45px;
}

.commitIcon {
    width: 12px;
    height: 12px;
    background-color: #00008b;
}

.glyphicon .glyphicon-bubble {
    background-position: -432px -166px;
    width: 16px;
}

/*
 *
 * Conditions Tab --> edit
 *
 */
input.newConditionName {
    width: 390px;
}
.editContainer .nav-tabs {
    padding-left: 15px;
}
.conditionsEdit-tab {
    width: auto;
    height: 450px;
    padding-top: 15px;
}

.conditionsEdit-tab .btn .btn-default{
    margin-bottom: 9px;
}
.ddContainer [class*='col-md-']{
    padding-left: 5px;
    padding-right: 5px;
}

.ddContainer .modifierMenu label {
    margin: 2px 8px 0 0 !important;
}

.tab-content, .conditionNameCtn {
    overflow-y: auto;
    overflow-x: hidden;
}
.btn-default.isHidden {
    display: none;
}
.queryparamborder {
    border-top: 1px solid #ECECEC;
    display: block;
    padding-top: 10px;
}
.queryparamborder:last-of-type {
    border-bottom: 1px solid #ECECEC;
}
.queryparamborder:nth-child(2) {
    border-top: none;
    border-bottom: none;
    margin-top: 0;
    padding-top: 0;
}

.testURLborder:first-of-type{
    border-top: 1px solid #ECECEC;
    display: block;
    padding-top: 10px;
}

.publishBtn {
    margin-right: 10px;
}

input.spaceSelectorRadioBtn:focus,
label:focus,
span:focus{
    outline: 0 none;
    border: 0 none;
}
input.spaceSelectorRadioBtn::-moz-focus-inner,
label::-moz-focus-inner,
span::-moz-focus-inner{
    outline: 0 none;
    border: 0 none;
}
input[type='radio']::-moz-focus-inner {
    outline: none;
}
.conditionDetailsContainer li {
    line-height: 18px;
}

.conditionAddContainer .testURLContainer .textUrlInput,
.conditionEditor .testURLContainer .textUrlInput {
    width: calc(100% - 24px);
    float: left;
}

.conditionAddContainer .testURLContainer .statusIcon,
.conditionEditor .testURLContainer .statusIcon {
    width: 18px;
    height: 26px;

    font-size: 18px;

    border: none !important;

    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 4px;

    float: right;
}

.conditionAddContainer .testURLContainer .statusIcon.invalid,
.conditionEditor .testURLContainer .statusIcon.invalid {
    color: red;
}

.conditionAddContainer .testURLContainer .statusIcon.valid,
.conditionEditor .testURLContainer .statusIcon.valid {
    color: green;
}

.conditionAddContainer .testURLContainer .statusIcon:after
.conditionEditor .testURLContainer .statusIcon:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.conditionAddContainer .urlContainer .form-group,
.conditionEditor .urlContainer .form-group {
    margin-bottom: 10px;
}

#regionSelect_chosen li:first-of-type input,
#browserSelect_chosen li:first-of-type input,
#platformSelect_chosen li:first-of-type input {
    min-width: 150px;
}
/*view code*/
.btn.viewCodeBtn {
    margin-bottom: 10px;
}
.fullDetails .viewCode {
    height: 200px;
    padding: 10px;
}
.fullDetails .viewCode:first-of-type {
    padding: 0;
}
.fullDetails {
    padding-left: 10px;
}
/*
 *
 * New Layout
 *
 */

.table > thead > tr > th, .table > tbody > tr > td {
    padding: 4px 4px;
    /*line-height: 18px;*/
}

.table .ellipsisDiv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*
 * Twitter Bootstrap Changes
 */
.container {
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0px;
    margin: 18px 0px;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0px;
    list-style: none outside none;
    margin: 1px 0px 0px;
    min-width: 160px;
    padding: 4px 0px;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.well {
    background-color: #F5F5F5;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.btn .btn-default-group > .btn .btn-default:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 0px;
}
.btn .btn-default-group > .btn .btn-default:last-child, .btn .btn-default-group > .dropdown-toggle {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.btn .btn-default-group > .dropdown-toggle {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
    padding-left: 8px;
    padding-right: 8px;
}

.navbar-header {
    /*background-color: #2C2C2C;*/
    /*background-image: -moz-linear-gradient(center top , #333333, #222222);*/
    background-repeat: repeat-x;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    min-height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.ensightenTablePagination .currentPage {
    float: left;
    margin: 0;
    padding: 2px;
    text-align: center;
    width: 50px;
}
.label, .badge {
    background-color: #999999;
    color: #FFFFFF;
    font-size: 10.998px;
    font-weight: 700;
    line-height: 14px;
    vertical-align: baseline;
    white-space: nowrap;
}
.singleLine {
    white-space: nowrap;
}
.sidebar-nav .well {
    background-color: #FBFBFB;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-repeat: repeat-x;
    border: 1px solid #DDDDDD;
    box-shadow: none;
}
body {
    background-color: #FFFFFF;
    color: #000000;
}
.dark, .shadowed .well.dark, .shadowed .box-container-toggle.dark {
    background-color: #F3F3F3;
    background-image: none;
}
.shadowed, .reportExpanded > .report, .modalEns .modalContent {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.newSpaceContent .panel,
.newSpaceContent .summary.round-all{
    overflow: visible;
}
.btn .btn-default[rborder] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-bordr-radius: 3px;
}

button.close {
    z-index: 10000;
}

.breakWrapper {
    word-wrap:break-word;
}

.table td.checkBoxForUserCell {
    padding: 3px 4px 5px;
}

.globalConditionDetails {
    color: #FF8C00;
}

.globalConditionBubble {
    background-color: #FF8C00;
}

.historyIcon {
    width: 21px;
}

.settingsLabel {
    float: left;
    width: 140px;
    text-align: left;
    padding-top: 0px;
}

#timezoneSelect {
    width: 400px;
}

/*.navbar-brand {
    background-image: url('/public/images/Ensighten_Logo.png');
    width: 205px;
    background-position: center 6px;
    background-repeat: no-repeat;
    text-indent: -9999px;
}*/

.navbar-container {
    width: 100%;
}

.footer-style {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: .85em;
    -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.25);
    box-shadow: 0 -1px 3px rgba(0,0,0,.25);
    height: 40px;
    padding: 10px 0;
    border-top: 1px solid rgba(146,153,158,0.73);
    background-color: rgba(146,153,158,0.73);
    color: #fff;
    display: block;
}

#footerAlign.col-md-10.col-md-push-2{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.address-style {
    display: inline-block;
    float: left;
    font-style: normal;
    margin-bottom: 18px;
    line-height: 18px;
}

.footerLinks {
    float: right;
    margin-left: 0;
    list-style: none;
    padding: 0;
    margin: 0 0 9px 25px;
}

.link-style {
    display: inline-block;
    margin-right: 3em;
    line-height: 18px;
    list-style: none;
}

.linkName {
    color: #fff;
    text-decoration: none;
}

/*PERMISSIONS*/
.editRoleContainer {
}

.typePermission {

}

.chosen-container {
    display: block;
}
.chosen-choices {
    min-height: 20px;
}

.finalPermissionToggle {
    float: left;
    border: 1px black solid;
    margin: 0px 5px 0px 5px;
    padding: 2px;
}

.roleHeading {
    margin-bottom: 10px;
}

/*SIDE NAV STYLES*/
@media all and (max-width: 1200px) {
    .headerResize.col-md-offset-2 {
        margin-left: 200px;
    }
    #footerAlign.col-md-10.col-md-push-2 {
        left: 200px;
    }
}

.mainSidebar {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 2000;
    min-width: 200px;
}

.sidebar-nav {
    position: relative;
    height: 100%;
    width: auto;
}

.fixed {
    position: fixed;
}
.fill-height {
    height: 100%;
}
.tabRow {
    position: relative;
    background-color: #5b6770;
    height: 100%;
    width: auto;
    margin-bottom: -40px;
}
.tabRow a {
    color: white;
}
.tabRow h3 {
    padding-left: 40px;
    margin-top: 0;
    line-height: 46px;
    width: auto;
    height: 46px;
    color: #7d8489;
    background-color: #313c43;
}
.tabRow .active {
    background-color: #3d4850;
}

.tabRow.nav > li > a {
    padding-left: 40px;
    background-color: transparent;
}
.tabRow.nav > li > a:hover {
    background-color: rgba(255,255,255,0.0981);
    color: white;
}

.side-nav-footer {
    position: relative;
    height: 40px;
    width: auto;
    background-color: #3d4850;
    bottom: 0;
}

.pin-button.glyphicon,
.pin-button.glyphicon:focus{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    outline: none;
}

.pin-button.glyphicon.un-pinned {
    color: #5b6770;
}

.hide-side-nav {
    left: -17%;
}
@media all and (max-width: 1180px) {
    .hide-side-nav {
        left: -201px;
    }
}

.col-md-8.listContainerFull {
    width: 72.2222%;
}
.col-md-4.detailsContainerFull{
    width: 27.777777%;
}

.badgeStyle {
    background-color: #ffff00;
    color: black;
    border-radius: 3px;
    font-size: 70%;
    letter-spacing: 1px;
    padding: 3px;
    margin-left: 3px;
}

.headerResize,
#footerAlign .address-style,
.headerResize.col-md-offset-2,
#footerAlign .address-style.col-md-offset-2{
    transition: margin-left 0.3s ease-in-out;
}

.mainContent.col-md-10.col-md-offset-2,
.mainContent{
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.mainActions,
.mainContent .row > [class*='col-md-'],
.listContainerFull,
.detailsContainerFull{
    transition: width 0.3s ease-in-out, margin-top 0.4s ease;
}

.mainSidebar,
.mainSidebar.hide-side-nav {
    transition: left 0.3s ease-in-out;
}


.close-unpinned-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 16.666666666666664%;
    bottom: 0;
    z-index: 3000;
}

/*WIZARD PROGRESS STYLES*/
.defaultListItem{
    width: 25%;
    text-align: center;
    line-height: 14px;
    margin: 0 !important;
}
.defaultListItem a.defaultPointer,
.defaultListItem a.defaultPointer.selectable,
.defaultListItem a.defaultPointer:hover {
    margin-top: 20px;
    border-radius: 0;
    background-color:  #d0d3d4;
    color: #5b6770;
    padding-left: 40px;
}


.defaultListItem a.defaultPointer.selectable:hover {
    margin-top: 20px;
    border-radius: 0;
    background-color:  #d0d3d4;
    color: #5b6770;
    padding-left: 40px;
    font-weight: bold;
}

.defaultListItem:first-of-type a.defaultPointer {
    padding-left: 30px;
}
.defaultListItem a.defaultPointer.active {
    background-color: #00bfd7;
}
.defaultListItem a.defaultPointer:after,
.defaultListItem a.defaultPointer:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}
.defaultListItem a.defaultPointer:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: rgb(208, 211, 212);
    border-width: 17px;
    margin-top: -17px;
    z-index: 10;
}
.defaultListItem.active a.defaultPointer:after {
    border-left-color: #00bfd7;
}
.defaultListItem a.defaultPointer:before {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: rgb(255, 255, 255);
    border-width: 28px;
    margin-top: -28px;
    z-index: 10;
}

.defaultListItem:last-of-type a.defaultPointer:after,
.defaultListItem:last-of-type a.defaultPointer:before {
    border: none;
}

.advancedOptionsContainer textarea {
    resize: none;
}

/*OTHER*/
.table-spinner{
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    top: 250px;
    left: calc(50% - 35px);
}
.dataTables_filter input{
    color: #5b6770;
    display: inline;
    background-color: #ffffff;
    border: 1px solid #d0d3d4;
    border-radius: 3px;
    background-image: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 13px;
    height: 26px;
    line-height: 1.1;
    padding: 5px 10px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}

.dataTables_filter label{
    line-height: 1.1;
    margin-bottom: 10px;
}

.dataTables_wrapper ul.dropdown-menu {
    min-width: 0;
}
.dataTables_length, .dataTables_paginate {
    position: absolute;
    bottom: 20px;
}
.dataTables_paginate{
    right: 10px;
}
.dataTables_processing {
    margin-left: 10px;
}
tr[id='-1']{
    color: #FF8C00;
}
tr[id='-1'] td .tableTimestamp {
    visibility: hidden;
}
.deploymentsTable.table.table-striped td {
    max-width: 100px;
}
/*MODALS & Alerts*/
.confirmEditDialog,
#genericModalAlert {
    line-height: 1.5em;
}
.innerModalMessage {
    margin-bottom: 10px;
    margin-top: 10px;
}
.innerModalMessage:first-of-type{
    margin-bottom: 10px;
    margin-top: 0;
}
.innerModalDeleteList{
    margin-left: 10px;
}
.ens-alert-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3040;
    display: none;
    overflow: auto;
    overflow-y: auto;
    xmargin: 0;
    xbox-shadow: 0;
    background-color: transparent;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.alert-dismissable .close {
    color: inherit;
    position: relative;
    right: -21px;
    top: -5px;
}
.msgBubble {
    cursor: pointer;
    display: inline-table;
    padding: 7px 30px 2px 20px !important;
}
.popover-content .error{
    color: #ef2b26;
}
.side-nav-footer .popover.top .arrow {
    left: 90% !important;
}
.new-feature-popover {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.1em;
    color: hsl(206, 10%, 40%);
}
.new-feature-popover button{
    margin: 10px auto 0 auto;
    display: block;
}

.input-error.form-control:focus {
    border-color: #ef2b26;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 43, 38, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 43, 38, 0.6);
}

input.input-error,
input.input-error:focus{
    border: 1px solid #ef2b26;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 43, 38, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 43, 38, 0.6);
}
textarea.input-error,
textarea.input-error:focus{
    border: 1px solid #ef2b26;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 43, 38, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 43, 38, 0.6);
}
label {
    margin: 0 10px 0 0;
}
label.label-error {
    color: #ef2b26;
}

.alert {
    border-radius: 4px;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.msgBubble .list-unstyled {
    margin: 0;
    padding: 0;
}
.localAlertContainer .alert{
    margin: 5px;
}
.userActions.btn-toolbar {
    margin-bottom: 0;
}
.mainAlertContainer {
    height: 42px;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.mainActions .mainAlertContainer {
    margin-top: 10px;
    padding-bottom: 0px;
}
.modal-header.success {
    background-color: #007c8b;
    text-transform: capitalize;
    color: white;
}
.modal-header.error {
    background-color: #ef2b26;
    text-transform: capitalize;
    color: white;
}
.modal-header.warn {
    background-color: #ffd200;
    color: white;
}
.successful-deployment,
.failed-deployment,
.mandated-space-item{
    margin-left: 10px;
}
.successful-deployment .glyphicon,
.failed-deployment .glyphicon,
.mandated-space-item .glyphicon{
    color: #007c8b;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1.3em;
}
.failed-deployment .glyphicon{
    color: #ef2b26;
}
.error ~ .modalContent .mandated-space-item .glyphicon {
    color: #ef2b26;
}
.modal-title .glyphicon,
.glyphicon.role,
.glyphicon.delete {
    font-size: 32px;
    position: absolute;
    left: 15px;
    top: 8px;
}

.glyphicon.role {
    font-size: 20px;
    top: 13px;
}
.glyphicon.delete {
    left: 10px;
}

.ensightenTablePagination .paginationBtn {
    padding: 0px 0px;
}

.paginationBtn .btnLabel {
    padding: 1px 12px;
}
.saveButton, .cancelButton {
    min-width: 85px;
    margin-right: 10px;
}
.dropdownAltLink {
    padding-top: 10px;
}
/*
 *
 * Modal Dialogs
 *
 */
.modal-dialog.modalSmall {
    width: 370px;
}

.modal-dialog.modalMedium {
    width: 580px;
}

.modal-dialog.modalLarge {
    width: 840px;
}

.modal-body h2 {
    background: none repeat scroll 0 0 #d0d3d4;
    margin: 0 -20px 10px;
    padding: 10px 20px;
}

.modalEns .modalTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modalTitle.error {
    background-color: #ef2b26;
}

/*TOOLS*/
.box-container-toggle .tab-pane {
    padding: 25px;
}
.box-container-toggle .nav-tabs li {
    margin-bottom: 5px;
}
.tab-content#myTabContent {
    overflow-x: scroll;
}

/*
 * Message boxes for actionResult.ejs
 */
/*
 *
 * Message boxes for message.compressed.js
 *
 */
.dhtmlx_modal_box {
    padding: 20px;
}

.dhtmlx_popup_text {
    text-align: left;
}

.dhtmlx_popup_button {
    width: auto;
    margin: 0;
}

.dhtmlx_popup_controls .btn + .btn {
    margin-left: 10px;
}

.dhtmlx_popup_controls {
    margin-top: 15px;
    text-align: right;
    padding: 0;
}

/*
 *
 * Tools page
 *
 */
.toolsPage .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

/*
 *
 * Choosen Override
 *
 */
select.form-control + .chosen-container-multi .chosen-choices li.search-choice, .chosen-container-multi .chosen-choices li.search-choice {
    white-space: normal;
}

select.form-control + .chosen-container .chosen-results li,
select.form-control + .chosen-container .chosen-results li.active-result,
.chosen-container .chosen-results li,
.chosen-container .chosen-results li.active-result {
    white-space: normal;
}

/*
 *
 * Styling for data in the data panel
 *
 */
.detailsList {
}

.detailsList .detailRow {
    clear: both;
    margin: 0 0 3px;
    width: 100%;
}

.detailsList .detailRow .label {
    font-weight: 600;
    color: #1d252c;
    float: left;
    padding: 0 3px 0 0;

    background-color: transparent;
    font-size: 13px;
    text-align: left;
    width: auto;
}

.detailsList .detailRow .value {
    padding-top: 1px;
}

.detailsList .detailRow .value .wrapIndent {
    display: block;
    padding-left: 2em;
}

.detailsList .detailRow .clear {
    clear: both;
    height: 1px;
    overflow: hidden;
    font-size: 0;
    margin-top: -1px;
}

.mandatedConditionsPanel .list-unstyled > li {
    background-color: rgba(0, 0, 0, 0.073);
    border-radius: 3px;
    margin: 0 0 7px;
    padding: 5px 10px;
}

.conditionDetailsContainer #collapseOne .list-unstyled {
    word-break: break-word;
}

.inputHandling {
    color: #007B8B;
    display: inline-table;
    font-size: 12px;
    margin: 5px 0 0 12px;
}

/*
 * WaitingSpinner
 */
.waitingSpinnerDiv {
    xposition: absolute;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    left: 0;
    top: 0;
}

.waitingSpinnerImg {
    /*top: calc(50% - 20px);*/
    left: calc(50% - 35px);
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(/public/images/spinner.gif);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

/*
 *
 * Hide Show Arrow
 *
 */
.hideShowArrow {
    background-image: url('/public/images/hideShow-arrow-down.png');
    background-size: 11px auto;
    background-repeat: no-repeat;
    float: right;

    margin-left: 5px;
    margin-right: 15px;

    width: 16px;
    height: 16px;
}

.hideShowArrow.toShow {
    transform: rotate(180deg);
    transform-origin: 7px 7px 0;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 7px 7px 0;
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 7px 7px 0;

    duration: transform 50ms ease 0s;
    -webkit-transition: -webkit-transform 50ms ease 0s;
    -moz-transition: -moz-transform 50ms ease 0;
}

.hideShowArrow.toHide {
    transform: rotate(-0deg);
    transform-origin: 7px 7px 0;
    -webkit-transform: rotate(-0deg);
    -webkit-transform-origin: 7px 7px 0;
    -moz-transform: rotate(-0deg);
    -moz-transform-origin: 7px 7px 0;


    duration: 50ms ease 0;
    -webkit-transition: -webkit-transform 50ms ease 0;
    -moz-transition: -moz-transform 50ms ease 0;
}

.tabRow.nav > li.tab.hideShow {
    background-color: #5b6770;
    color: #ffffff;
}
.tabRow.nav > li.tab.hideShow a:focus {
    background-color: #5b6770;
    color: #ffffff;
}

/*
.tabRow .tab.hideShow:after {
    content: '.';
    display:block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
*/
/*
 * Not Supported Browsers
 */
.invalidBrowser {
    height: calc(100% - 45px);
    width: 100%;

    display: table;
}


.invalidBrowser .messaging {
    text-align: center;
    width: 700px;
    display:table-cell;
    vertical-align: middle;
}

.invalidBrowser .messaging .line1 {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 48px;
    color: #00bfd5;
}

.invalidBrowser .messaging .line2 {
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 36px;
    color: #007b89;
}

.invalidBrowser .messaging .line3 {
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 15px;
    color: #5b6770;
}

.invalidBrowser .messaging .viewSupported {
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-size: 14px;
    color: #00bfd5;

    margin: auto;
}

.invalidBrowser .messaging .viewSupported:hover {
    text-decoration: underline;
    cursor: pointer;
}

.invalidBrowser .messaging .logos {
    width: 100%;
    height: 86px;
}

.invalidBrowser .messaging .logoDiv {
    margin: auto;
    xwidth: 260px;
}

.invalidBrowser .messaging .logoDiv:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.invalidBrowser .messaging .logo {
    width: 86px;
    height: 86px;
    float: left;
}

.invalidBrowser .messaging .icon {
    width: 86px;
    height: 86px;
}

.invalidBrowser .messaging .logo .icon {
    background-size: 86px 86px;
    background-repeat: no-repeat;

    float: left;
}

.invalidBrowser .messaging .logo .icon.firefox {
    background-image: url(../images/supported-browser-firefox.png);
}

.invalidBrowser .messaging .logo .icon.chrome {
    background-image: url(../images/supported-browser-chrome.png);
}

.invalidBrowser .messaging .logo .icon.ie {
    background-image: url(../images/supported-browser-ie.png);
}

.invalidBrowser .messaging .logo .icon.safari {
    background-image: url(../images/supported-browser-safari.png);
}

.invalidBrowser .messaging .supportedBrowsers {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.invalidBrowser .messaging .supportedBrowsers .supportedBrowserTable table,
.invalidBrowser .messaging .supportedBrowsers .supportedBrowserTable th,
.invalidBrowser .messaging .supportedBrowsers .supportedBrowserTable td {
    border: 1px solid black
}

.invalidBrowser .messaging .supportedBrowsers .supportedBrowserTable .browser {
    text-align: left;
}

/*
 * Styling for the ensightenPopoverHelp
 */
.ensightenPopoverHelp {
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.1em;
    color: hsl(206, 10%, 40%);
}
.ensightenPopoverHelp button {
    display: inline-block;
    float: right;
    margin: 10px 10px 10px auto;
    display: block;

    width: auto !important; /* important needed to prevent override */

    line-height: 1.2em;
    padding: 3px 5px;
}

.ensightenPopoverHelp button:first-child {
    margin-right: auto;
}


/*deploy list search styles*/
.deploySearchModule .dropdown-toggle,
.conditionSearchModule .dropdown-toggle{
    min-width: 160px;
    text-align: left;
    padding-top: 6px;
}
.deploySearchModule .dropdown-toggle .caret,
.conditionSearchModule .dropdown-toggle .caret{
    position: absolute;
    right: 7px;
    top: 10px;
}
.deploySearchModule .deploySearchBtn,
.conditionSearchModule .conditionSearchBtn {
    padding-bottom: 4px;
}
.dropdownElem:after{
    position: absolute;
    top: 12px;
    right: 10px;
    content: "";
    width: 0px;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    opacity: 1;
    border-color: #5B6770 transparent transparent transparent;
}
.input-dropdown {
    position: relative;
}
.input-dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    list-style: none outside none;
    margin: 1px 0px 0px;
    min-width: 160px;
    padding: 4px 0px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1100;
}
.input-dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.input-dropdown-menu > li.clearAll {
    font-size: 1.1em;
    padding-bottom: 4px;
    margin-top: -5px;
    padding-top: 4px;
    margin-left: -1px;
    opacity: 0.337;
    cursor: default;
}
.input-dropdown-menu > li.clearAll.active,
.input-dropdown-menu > li.clearAll.active:hover{
    background-color: #007c8b;
    opacity: 1;
    color: white;
    cursor: pointer;
}
.clearAll ~ .divider {
    margin-top: 0px;
}

.open.input-dropdown-menu {
    display: block;
    max-height: 356px;
    overflow: auto;
}

.input-dropdown-menu > li{
    display: block;
    padding: 0px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #5b6770;
    white-space: nowrap;
    cursor: pointer;
}

.input-dropdown-menu > li:hover,
.input-dropdown-menu > li:focus {
    background-color: #f5f4f3;
    color: #262626;
    text-decoration: none;
}

.input-dropdown-menu .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}
.noResultsFound {
    text-align: center;
    padding: 3px 20px;
}

.input-dropdown-menu .checkbox label {
    width: 100%;
    display: block;
}
.open ~ .close-dropdown {
    z-index: 1000;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.deploySearchItems,
.conditionSearchItems{
    width: 100%;
    background-color: #5b6770;
    min-height: 90px;
    margin-top: 10px;
    padding: 10px 15px;
}

.deploySearchItems > .close,
.conditionSearchItems > .close {
    position: absolute;
    color: #007a89;
    font-size: 13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: -35px;
    z-index: 800;
    text-decoration: underline;
}

.deploySearchItem,
.conditionSearchItem {
    display: inline-block;
    background-color: #1e242b;
    color: white;
    padding: 4px 18px 4px 15px;
    border-radius: 30px;
    vertical-align: top;
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.deploySearchItem.search,
.conditionSearchItem.search{
    background-color: #1e242b;
}
.deploySearchItem.name,
.conditionSearchItem.name{
    background-color: #1e242b;
}
.deploySearchItem.appName {
    background-color: #007a89;
}

.deploySearchItem.tagCode {
    background-color: #ff4337;
}
.deploySearchItem.labelSearch,
.conditionSearchItem.labelSearch {
    background-color: #00e4ff;
    color: #1e242b;
}
.deploySearchItem.status {
    background-color: #3ea70a;
}
.deploySearchItem.space {
    background-color: #ffd100;
    color: #1e242b;
}
.deploySearchItem.deploymentId {
    background-color: #a3a9ac;
}
.deploySearchItem button.close,
.conditionSearchItem button.close{
    float: none;
    position: relative;
    right: -7px;
    font-size: 20px;
    color: white;
    z-index: 999;
}

.replace .colorBlob,
.searchFilter .colorBlob {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 3px 5px 0 0;
    padding: 0;
    border-radius: 10px;
}

.deployListContainer .searchTypeBtn {
    min-width: 175px;
}

.deployListContainer .searchTypeLst {
    min-width: 175px;
}

.deployListContainer .replace .colorBlob {
    padding-left: 0px;
}

.deployListContainer .searchFilter .colorBlob {
    margin-top: 5px;
}

.dropdown-menu > li > a.searchFilter {
    padding-left: 10px;
    padding-right: 8px;
}

/*Labels in conditions list*/
.elabelDiv .elabel{
    float: left;
    padding: 7px 10px;
    margin: 3px;
    background-color: #5b6770;
    color: #ffffff;
    border-radius: 3px;
}

.elabelDiv .elabel a,
.elabelDiv .elabel a:hover{
    color: white;
    text-decoration: none;
}
