#info {
    position: absolute;
    left: 700px;
    text-align: center;
    //    display : inline;
}

#list,
#count,
#selected {
    float: left;
    margin: 75px 25px;
    text-align: left;
}

#list {
    overflow: scroll;
    width: 600px;
    height: 600px;
    margin-top: 0;
    padding-top: 10px;
    text-align: left;
}

#selected,
#history {
    overflow: scroll;
    width: 600px;
    height: 600px;
    margin-top: 0;
}

#customProp {
    overflow: scroll;
    width: 95%;
    height: 100px;
    padding: 15px;
    background: #c0bee8;
}


.list-item {
    padding: 5px;
    cursor: pointer;
    &:hover {
        background: #ccc;
    }
}

.list-item.highlight {
    background: #ccc;
}

.list-details {
    margin: 15px;
    padding: 20px;
    border: 1px solid black;
    background: #ffd000;
}

.list-details p {

    overflow-wrap: break-word;
}

// APPS
// --------------------------------------------------

@apps-list-width: 800px;
@apps-img-width: 150px;
@apps-btn-width: 100px;

.ab-content {

    position: relative;
    overflow: hidden;
    margin: 25px 50px;
}

.op-header,
.op-app-header {

    position: relative;
    height: 50px;

    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid @product-color;

    font-size: 24px;
}

.op-header > .help,
.op-app-header > .help {

    float: right;
}

.op-header > * {

    line-height: 34px;
}

.ab-content > h3 {

    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid @product-color;
}

.ab-content > h3 a span {

    float: right;
    color: black;
}

.op-app-header > a {

    line-height: 34px; // vertical align
}

.op-connect-info {

    margin-left: 10px;
    font-size: 16px;
    vertical-align: middle;
}

.ab-content h4 {

    padding: 20px 0;
}

.ab-test-header {
    font-size: 16px;
    line-height: 32px;
    height: 54px;
    // padding-right: 100px;
    padding-left: 50px;
    text-align: center;
}

.ab-test-header .ab-test-name {

    padding: 0 10px;
    margin: 0 5px;
}

.ab-content .content-video video,
.ab-content .content-video img {
    padding-bottom: 12px;
    border: none;
    border-bottom: 1px solid @product-color;
}

.ab-content .content-video .glyphicon-remove {
    font-size: 18px;
    position: absolute;
    z-index: 999;
    top: 5px;
    right: 5px;
    padding: 2px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffc4c4;
}

.ab-app-version {
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 15px;
}

.ab-app-version .caret {
    margin-top: -2px;
    margin-left: 15px;
}

.ab-app-version ul,
.ab-app-version li,
.ab-app-version a {
    // width: 100px;
}

.ab-app-version .dropdown-menu a {
    padding-right: 40px;
    text-align: right;
}

// APPS - HEADING
.ab-apps-heading {
    margin: 20px 0;
}

.ab-apps-heading h4 {
    float: left;
}

.ab-apps-filter {

    position: relative;
    float: right;
    margin: 10px 0;
    width: 420px; // TODO : make this generic.
}

.ab-apps-filter .search-input-glass{

    position: absolute;
    top: 7px;
    right: 13px;
}

.ab-apps-filter .btn-group {
    margin: 0 25px;
    vertical-align: top;
}
.ab-apps-filter .btn-group button {
    line-height: 1.3;
    &.selected {
        background: #d0d0d0;
    }
}
// APPS - LIST

.ab-apps {
    width: @apps-list-width;
}

// APPS - ITEM
.ab-app {
    margin: 50px 0;
}

.ab-app img {
    float: left;
    width: @apps-img-width;
    padding: 0 35px 0 0;
}

.ab-app p {
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    width: calc(@apps-list-width - @apps-img-width - @apps-btn-width - 100px);
    height: 25px;
    margin: 5px 0 15px;
}

.ab-app p span {
    font-weight: normal;
    float: right;
}

.ab-app p:first-of-type {
    font-size: 16px;
    line-height: 40px;
    height: 45px;
    color: @product-color;
    border-bottom: 1px solid @product-color;
}

.ab-app p:first-of-type span {

    float: right;
    width: auto;
    height: 40px;
    // padding: 0 10px;

    // &:hover {

    //     background-color: @product-color;
    //     color: white;
    // }
}

.ab-main-button {

    color: white;
    background-color: @product-color;
    border: 1px solid @product-color;

    &:disabled {

        opacity: 0.5;
    }

    &:disabled:hover {

        color: white;
        background-color: @product-color;
        border: 1px solid @product-color;

        opacity: 0.5;
    }
}

/**
*
*   SCREENS LIST
*
**/

.ab-screens {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.ab-screens-suggest {
    font-size: 15px;
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
    margin: auto;
    margin: 10px auto;
    text-align: center;
}
.ab-screen-empty {
    position: relative;
    height: 150px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid @product-color;
}
.ab-screen-empty p {
    line-height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    margin: auto;
}
.ab-screen {
    position: relative;
    display: inline-block;
    height: 300px;
}
.ab-screen .ab-live-overlay {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 1.5em;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    color: red;
}
.ab-screen .ab-live-overlay .glyphicon-record {
    font-size: 30px;
    display: block;
    padding: 10px 0;

}
.ab-screen img {
    width: @apps-img-width;
    margin: 20px 10px;
    padding: 10px;
}
.ab-modal.ab-modal-screens {
    width: 100%;
    height: 460px;
    padding: 50px 0px;
    border: 25px solid transparent;
}
.ab-modal-screens p {
    padding: 10px 0px;
}
.ab-screen-placeholder {
    width: 320px;
    height: auto;
}


/**
*
*    TESTS LIST : ITEMS / NAMES
*
**/

.ab-tests .ab-tests-header {

    border-bottom: 1px solid black;
}

.ab-tests h4,
{
    margin: 20px 0;
    padding: 10px 0;
}
.ab-screens h4,
{
    position: absolute;
}

.ab-test-item,
.ab-test-item-empty {

    position: relative;
    margin: 25px 0;
}

.ab-test-item .row:first-child {

    cursor: pointer;

    &:hover {

        background-color: @ens-gray1;
    }
}

.ab-test-item.ab-test-item-empty {

    text-align: center;
}

.ab-test-item .ab-test-name {

    margin: 5px;

    font-size: 18px;
    line-height: 40px;
}

.ab-test-item .ab-test-name p {

    margin: 0;
}

.ab-test-item .ab-test-buttons {

    text-align: right;
}

.ab-test-item .ab-test-info {

    margin: 10px 5px;
}

.ab-test-item p button,
.ab-test-item p a {

    width: 117px;
    height: 40px;
}

.ab-test-item p button {

    font-size: 16px;
    margin-top: -5px;
    margin-right: 0px;
}

.ab-test-item p a {

    text-align: center;
}

.ab-test-item .toggle-enable,
.ab-test-item .toggle-readout {

    font-size: 13px;
    margin-top: -15px;
    cursor: pointer;
}

.ab-test-item .toggle-enable {

    line-height: 35px;
    position: relative;
    display: inline-block;
    padding: 2px 10px;
    margin-right: 56px;
    margin-top: 5px;
    border-radius: 3px 0 0 3px;
    background-color: gray;
}

.ab-test-item .toggle-readout {

    height: 39px;
    margin: 0;
    top: 5px;
    right: 20px;
    width: 50px;
}

.ab-test-item .toggle-readout .top-part,
.ab-test-item .toggle-readout .bottom-part {

    left: 0px;
    padding-top: 7px;
}

/**
*
* ! MODALS : NEW TEST / NEW SCREEN / GENERATE / PUBLISH
*
**/

.ab-modal {

    width: auto;
    margin: 25px auto;
    padding: 25px;

    font-size: 14px;
    text-align: center;
}

.ab-modal h3,
.ab-modal p,
.ab-modal input,
.ab-modal textarea,
.ab-modal a,
.ab-modal button {

    display: block;
    margin: 10px auto;
}

.ab-modal input[type=checkbox] {

    display: inline-block;
    width: auto;
    margin: 10px;
}

.ab-modal input[type=radio] {

    display: inline-block;
    width: auto;
    margin: 10px;
}

.ab-modal h3 {

    padding-bottom: 10px;
    border-bottom: 1px solid @product-color;
}

.ab-modal p {

    padding: 10px;

    font-size: 16px;
    line-height: 30px;
}

.ab-modal form {

    width: 50%;
    margin: 0 auto;

    text-align: left;
}

form.ab-modal-form {

    width: 300px;
}

.ab-modal input,
.ab-modal textarea {

    width: 100%;

    padding: 10px;
    border: 1px solid @ens-gray1;

    border-radius: 5px;

    &:focus {

        outline: none;
    }
}

.ab-modal button {

    width: auto;
    margin-top: 40px;
    padding: 8px 45px;

    font-size: 16px;
}

.ab-modal .info {

    margin-bottom: 10px;
}

.ab-modal .btn-start {

    display: inline-block;
    width: auto;
    padding: 10px 20px;

    background-color: #f0f8ff;
    border-radius: 5px;
    border: 1px solid #007c8b;

    font-size: 20px;
    transition: letter-spacing 0.3s @easing-easeOutBack;

    &:hover {

        color: #f0f8ff;
        background-color: #007c8b;
    }
}

.ab-modal .btn-start[disabled] {

    cursor: default;
    color: #D7EFF2;
    border: none;

    &:hover {

        border: none;
        background-color: #f0f8ff;
    }
}

.ab-modal .success {

    background-color: rgb(106, 211, 106, 0.5);
}

.ab-modal .fail {

    background-color: rgb(211, 122, 106, 0.5);
}

.ab-modal h2 {

    font-size: 20px;
    margin: 25px;
    padding: 25px;
    text-align: center;
}

.ab-modal h2 span {

    font-size: 18px;
    display: block;
    padding: 15px;
}

.ab-modal .dump-select{
  display: block;
}

.ab-modal .ab-dump-right {

  width: 70%;
  height: auto;
  display: inline-block;
  padding: 0px;
}

.ab-modal .ab-dump-left {

  width: 25%;
  height: auto;
  display: inline-block;
  vertical-align:top;
  padding: 0px;
}

.ab-test-item-name {
    margin: 0 10px;
    text-indent: 20px;
}

.ab-modal-testoverview p {

    padding: 5px 10px;
    margin: 5px auto;
}

.ab-testoverview-item .ab-header {

    text-align: right;
}

.ab-testoverview-item .ab-value {

    text-align: left;
}

.ab-modal-generate label {

    display: block;
}

.ab-modal-generate .result {

    min-height: 60px;
    margin-top: 20px;
}

.ab-modal-generate .result > p:first-of-type { // first p of result needs highlight

    display: inline-block;
    padding: 10px 30px;
}

.ab-modal-generate .result > p:nth-of-type(2) {

    width: 400px;
}

.ab-modal-generate .u-help-link {

    display: inline;
}

/**
*
*    CONNECT : BUTTON / PANE / MODAL
*
**/

.ab-header a,
.ab-header .ab-app-info {

    vertical-align: middle;
}

.ab-connect-info {

    font-size: 14px;
}

.ab-connect-info span {

    display: inline-block;
    font-size: 16px;
    margin: 15px;
    vertical-align: middle;
}

.btn-neat {

    width: auto;
    padding: 5px 15px;

    font-size: 15px;
}

.btn-inline {

    margin: 0;
}

.btn-neat.btn-connect {

    margin: 0 10px;
    margin-top: -4px;
    padding: 2px 15px;
}

.ab-devices-list {

    position: relative;
}

.ab-devices-list h4 {

    width: 100%;
    margin: 20px 0px;
}

.ab-device-list-item {

    position: relative;
    height: 50px;
    margin: 10px;
}

.ab-device-list-item.condensed {

    height: 20px;
    margin: 10px;
}

.ab-device-list-item span {

    line-height: 50px;
    text-align: left;
}

.ab-device-list-item.condensed span {

    line-height: 20px;
    text-align: left;
}

.ab-device-list-item button {

    height: 30px;

    padding: 1px 10px;
    margin: 10px;

    font-size: 14px;
}

/**
*
*    CONNECT : BUTTON / PANE / MODAL
*
**/

.ab-header a,
.ab-header .ab-app-info {

    vertical-align: middle;
}

.ab-connect-info {

    font-size: 14px;
}

.ab-connect-info span {

    display: inline-block;
    font-size: 16px;
    margin: 15px;
    vertical-align: middle;
}

.btn-neat {

    width: auto;
    padding: 5px 15px;

    font-size: 15px;
}

.btn-inline {

    margin: 0;
}

.btn-connect {

    margin: 0px 10px;
}

.ab-devices-list {

    position: relative;
}

.ab-devices-list h4 {

    width: 100%;
    margin: 20px 0px;
}

.ab-device-list-item {

    position: relative;
    height: 50px;
    margin: 10px;
}

.ab-device-list-item.condensed {

    height: 20px;
    margin: 10px;
}

.ab-device-list-item span {

    line-height: 50px;
    text-align: left;
}

.ab-device-list-item.condensed span {

    line-height: 20px;
    text-align: left;
}

.ab-device-list-item button {

    height: 30px;

    padding: 1px 10px;
    margin: 10px;

    font-size: 14px;
}

/**
*
*    BUTTONS : NEXT / BACK
*
**/

.ab-btn-back {

    position: absolute;
    left: 0;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.ab-btn-next {

    font-size: 16px;
    position: relative;
    float: right;
    width: auto;
    margin-top: 0;
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.ab-btn-newtest {

    margin: 20px 0;
}

/**
*
*   MESSAGES : SAVE / FAIL
*
**/


.ab-next-message {

    position: absolute;
    right: 0;
    top: 60px;
    width: auto;
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;

    background-color: rgb(106, 211, 106, 0.5);
}

.ab-next-message.fail {

    background-color: rgb(211, 122, 106, 0.5);
}

@test-details-height: 250px;
@test-header-width: 10%;
.ab-btn-description {
    width: auto;
    margin: 0 10px;
    padding: 0;
    border: none;
    background-color: white;
    &:hover {
        border: none;
    }
    &:focus {
        outline: none;
    }
    & .glyphicon {
        padding: 10px;
    }
}
// TEST - DETAILS
.ab-details {
    height: @test-details-height;
}

/**
*
*
*   TEST SECTIONS / VERSUS / SEGMENTS / GOALS / DATA
*
*
**/

.ab-section-header {
    position: absolute;
    float: left;
    width: @test-header-width;
    height: 100%;
    z-index: 99;
}
.ab-section-header > h4 {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    padding-left: 0;
    border-bottom: 2px solid @product-color;
    text-align: left;
}
.ab-section-header > a {
    display: block;
    text-align: left;
}
.ab-section-content {
    // position: absolute;
    // margin-left: 13px;
    position: relative;
    min-height: 200px;
    padding: 20px 0;
    text-align: center;
}
.ab-variation {
    display: inline-block;
    text-align: center;
}
.ab-goal-item input,
.ab-goal-item textarea,
.ab-goal-item button,
.ab-test-segment input {
    display: block;
    width: 500px;
    margin: 15px auto;
    padding: 10px;
}
.ab-section-content textarea {
    line-height: 20px;
    height: 125px;
}
.ab-section-content button {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.ab-versus,
.ab-data {
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
}
.ab-versus-empty .ab-render {
    opacity: 0.2;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ab-test-segment > p:first-child {

    font-size: 16px;
}

.ab-test-segment .value {

    display: inline-block;
    margin: 0px 10px;

    font-size: 20px;
    font-weight: bolder;
    color: @product-color;

}

.ab-test-segment > input[type="range"] {


}

// TEST - RENDER

.ab-render {
    position: relative;
    display: inline-block;
    // width: 360px;
    margin: 0;
    margin-bottom: 50px;

    padding: 5px;
    padding-bottom: 10px;

    // padding-left: 0px;
}

.ab-properties,
.ab-history {
    position: relative;
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    width: 300px;
    height: 500px;
    margin: 40px;
    // padding: 10px 0;
    vertical-align: top;
    border: 1px solid #d0d0d0;
}

.ab-properties .ab-header,
.ab-history .ab-header {

    background-color: #f0f8ff;
}

.ab-properties .ab-heading,
.ab-history .ab-heading {

    display: inline-block;
    float: left;

    margin: 10px 5px;
    font-size: 15px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
}

.ab-properties .ab-list,
.ab-history .ab-list {

    height: 430px;
    overflow-y: auto;
}

.ab-render button {
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    width: 100px;
    margin: auto;
    padding: 10px;

    background-color: rgba(250,250,250,0.8);
    border: 1px solid #d0d0d0;

    // -webkit-box-shadow: 4px 4px 4px -2px rgba(9, 177, 216, .64);
    // -moz-box-shadow: 4px 4px 4px -2px rgba(9, 177, 216, .64);
    // box-shadow: 4px 4px 4px -2px rgba(9, 177, 216, .64);

    &:hover, &:active {
        transform: translate(2px, 2px);
        border: 1px solid @product-color;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.ab-render .options {

    position: relative;

    height: 60px; // also change at .ab-render .options .ab-heading
    width: 80%;

    margin: auto;
    background-color: #f0f8ff;

    transition: width 100ms ease;
}

.ab-render .options .ab-heading {

    display: inline-block;
    float: left;

    height: 100%;
    margin: 0 20px;

    line-height: 60px;
    font-size: 18px;
}

.ab-render .options .options-delete {

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #f0f8ff;
}

.ab-render .options .options-delete div:first-child {

    padding: 5px 20px;
    background-color: @ens-red;
    color: white;

    &:hover {

        background-color: darken(@ens-red, 10%);
    }
}

.ab-render .options .options-delete div {

    float: none;
    width : auto;
    padding: 5px 10px;
}

.ab-btn-close {
    line-height: normal;
    position: absolute;
    display: inline-block;
    width: 47px;
    margin: 25px;
    margin-left: 20px;
    padding: 5px;
}

.ab-btn-close-connect {
    position: absolute;
    display: inline-block;
    margin: 30px;
    margin-left: 66px;
    padding: 5px;
    border-bottom: 1px solid #d0d0d0;
}

.ab-btn-history {
    display: inline-block;
    float: right;
    width: 40px;
    margin: 10px;
    margin-left: 0;
}

/*
*
*    PROPERTY LIST / ITEMS / NAME / VALUE / EDIT
*
*/

.ab-list-item {

    margin: 25px 35px; // accommodating 15 negative margin from .row
    margin-top: 0px;

    font-size: 15px;
    text-align: left;
}

.ab-list-item > * {

    height: 50px;
    padding: 10px 0;
}

.ab-list-item > *:first-child {

    border-bottom: 1px solid black;
}

.ab-list-item *[class^="col-md"] {

    padding: 0;
    line-height: 30px; // vertical align, equal to content height for row
}

.op-qualifier input {

    height: 30px;
    padding: 5px;
    width: 120px;

    // margin-bottom: 10px;
}

/**
*
*   REPORTS : HEADERS / DATA / ITEMS
*
**/

.ab-data-variation-heading {

    display: inline-block;
    // width: 350px;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 0;
}

.ab-report-padding {

    margin-top: -30px;
    display: inline-block;
}

.ab-report-item {

    display: inline-block;
    position: relative;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 18px;
}


.ab-report-data {

    display: inline-block;
}

.ab-report-options {

    position: absolute;
    right: 0;
    display: inline-block;
}

.ab-report-charts {
    margin: 30px 0px;
    margin-bottom: 5px;
}

/**
*
*   HELP : ITEMS / QUESTIONS / ANSWERS
*
**/


.ab-faq-item {

    margin: 20px 0px 30px 0px;
    font-size: 13px;
    line-height: 25px;
}

.ab-faq-question, .ab-faq-answer {

    padding: 5px 0 0 0;
}

.ab-faq-answer {

    color: @ens-gray2;
}

.ab-tutorials .content-video {

    // height: 480px;
    // width: 840px;
    width: 600px;
    // margin: 45px 0;
}

.ab-tutorials .content-video video {

    padding: 0;
    border: 1px solid @ens-black;
}

.ab-tutorials-item {

    // float: left;
    margin: 0 50px 0 0;
}

.ab-tutorials-item .ab-header {

    font-size: 14px;
    text-align: left;
    padding: 10px 0;
}

.ab-tutorials-item p {

    font-size: 16px;
    line-height: 200%;
}

// OPTIMIZATION - EMPTY MESSAGES / BUTTONS // --------------------------------------------------

.ab-empty-message {

    height: 100%;
    z-index: 9;
}

.ab-empty-message p {
    margin: auto;
    height: 8em;
    z-index: 9;
    font-size: 16px;
    line-height: 32px;
}

.ab-empty-message .btn-cool {
    width: auto;
    padding: 3px 10px;
}

.tooltip.left {

    margin-top: 0px;
    margin-right: -10px;
}


/**
*
*   GENERATE MODAL
*
**/

// .animateGenerateTest.ng-enter, .animateGenerateTest.ng-leave {
//   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
// }

#help-workflow img {

    display: block;
    margin: 30px 0;
}
