// Overriding things for various reasons.
// Each rule must contain a reason why it's overriding the
// default behaviour.

// UI Bootstrap needs this. See http://angular-ui.github.io/bootstrap/#/getting_started
// for more info.
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

// Prevents th elements having 'cursor: pointer'.
.table > thead > tr > th {
  cursor: default;
}

// overflow: hidden is set on the body element
// in _ensBootstrap.css for some reason.
body {
  overflow: auto !important;
}

// Hide the header and footer. This is because
// the parent window will have them.
.navbar, #globalFooter {
  // display: none;
}

// Load Tracer Config isn't ready yet. 
// Hiding the button. 
#load-tracer-config-btn {
	display: none;
}