.frame-x {
  top : -10px;
  left : 10px;
}
.frame-y {
  top : -25px;
  left : 0px;
}
.frame-width {
  top : -5px;
  left : 15px;
}
.frame-height {
  top : -25px;
  left : 20px;
}

.frame-value {
  font-size : 10px;
  font-color : black;
  font-weight : bold;
  position : relative;
}
.frame-background {
  width : 40px;
  height : 40px;
  border : 2px solid blue;
}
.frame-bgImage {
    position : absolute;
    width : 40px;
    height : 40px;
    top : 0px;
    left : 0px;
}
.frame-box {
  background-color : rgba(5,150,110,0.5);
  width : 40px;
  height : 40px;
}
.frame-container {}
