// RENDER - EACH RENDER OF THE APP SCREEN // --------------------------------------------------

.render {

    height: auto;
    width: auto;

    margin: 0 10px;
}

// SCREENS - EACH SCREEN INSDIE THE RENDER BOX // --------------------------------------------------

.screen {

    top: 4px;
    left: 62px;

    margin: auto;

    overflow: hidden;
    transition: all 1s ease-out;
    border: 1px solid #d0d0d0;
}

.screen.overlay:after {

    content:'\A';
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;

    background:rgba(0,0,0,0.3);
    opacity:1;
    z-index: 9999; 

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

// TODO: animate - add vendor specific

.screen.ng-enter,
.screen.ng-leave.ng-leave-active {
	
    transition: all 1s ease-out;
    opacity: 0;
}

.screen.ng-enter.ng-enter-active,
.screen.ng-leave {

    transition: all 1s ease-out;
    opacity: 1;
}

// VIEW 

.view {

    position: absolute;
    box-sizing: padding-box;
    transition: opacity 300ms ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow : hidden;
}

.view.rootview {
    
    position: relative;
    margin: 0 auto;
}


.view.show:after, 
.view.selected:after {

    content:'\A';

    position:absolute;
    top:0; left:0;
    width:100%; height:100%;

    background:rgba(0,0,0,0.3);
    opacity:1;
}

.view.selected:after {

    background:rgba(0,0,0,0.6);
}

// DEPRECATED - REMOVE WHEN STABLE // --------------------------------------------------

#render {
    width: auto;
    height: auto;
    margin: 0 10px;
}

#render select {
    margin: 15px;
}