.mobilescreen {
    .elements {
        position: relative;
    }
    .active {
        border: 2px solid green;
    }
    .selected {
        border: 2px solid blue;
    }
    img {
        max-width: none;
    }
}