// DIRECTIVE / ENS-SHOW-PROPERTY // --------------------------------------------------

.ens-show-property {
    
    display: flex; // flex used to have elements fill up space. ex: img and url fill up space.
}

.ens-show-property.text-right {

    flex-direction: row-reverse; // if a text right is expected, the first element will be on the right.
}

.ens-show-property.text-left {

    flex-direction: row; // default // added for understanding
}

.ens-show-property img,
.ens-show-property input {

    height: 30px; 
}

.ens-show-property img {

	max-width: 100px;
}

.ens-show-property input {

    flex: 2;
    min-width: 1px; // strange ff bugfix 
    padding: 5px; 
}

.ens-show-property .advanced input {

	margin-bottom: 15px; 
}