.tl-links {

	display: block;

	height: auto;
	width: auto;

	margin: 15px auto;
	padding: 15px 0px;

	ul {

		margin: 0px;
		padding: 0px;

		list-style: none;
	}

	li {

		display: inline-block;
		margin: 10px 20px;

		text-align: center;
		vertical-align: top;
	}

	a {

		border-radius: 10px;
		font-size: 16px;
	}

	a.no-link {

		cursor: default;

		&:hover {

			text-decoration: none;
			background-color: #007c8b;
		}
	}

	img {

		display: block;
		margin: 0px auto;

		border-radius: 10px;
	}

	span {

		display: inline-block;
		// height: 50px; 

		margin: 10px auto;
	}

	span.info {

		display: block;

		margin: 15px;

		font-size: 12px;
		color: #f0532d;

		cursor: default;
	}
}

.pilot-sidebar-links {

	// TITLE LINK

	li.title-link {

		text-align: center;
		margin: 10px 10px 30px 10px;
		padding: 0px;

		border: none;
		background: none;
		color: black;
	}

	li.title-link a {

		padding: 5px 10px;
		width: auto;

		border: none;
		border-radius: 0px;

		background: none;
		text-align: center;
		color: black;
	}

	li.title-link a.selected {

		color: #007c8b;
		font-weight: bold;
	}

	li.title-link .title {

		width: 100%;
		padding: 10px;

		font-size: 14px;

		border-top: 1px solid black;
		border-bottom: 1px solid black;
		

		letter-spacing: 1px;
	}
}

.tl-devices {

	margin: 15px;
	
	padding: 15px; 
	padding-left: 25px; 
}

.tl-network-clear {

	position: absolute; 
	top: 100px; 
	right: 10px;
}
