// Generic utility classes.

.pad-right {
  margin-right: 10px;
}

.centered {
  text-align: center;
}

.vis-hidden {
    visibility: hidden;
}

.u-div-center {

    position: relative;
    width: 100%;

    text-align: center; 
}

.u-div-bottom {

    position: absolute;
    bottom: 0; 
}

.u-clickable {

    cursor: pointer; 
}

.u-help {

    cursor: help;
}

.u-help-link {

    font-size: 12px; 
    padding: 0 5px; 
    color: darken(@product-color, 10%)
}

.u-help-link > a {

    display: inline-block !important; 
    padding: 0 !important; 
    margin: 0 !important; 
}

.u-block {

    display: block; 
}

.u-dim {

    opacity: 0.5;
}

.u-subtle {

    color: @ens-gray2;
}

.u-margin-ns {

    margin: 20px 0; 
}