.hero {
	
	position: absolute; 

	height: 200px; 
	width: 500px; 

	top: 25px; 
	right: 68px; 

	margin: auto; 

	text-align: right; 

	h3 {

		margin-top: 5px; 
	}

	img {

		-webkit-filter: invert(100%);
		vertical-align: top; 
		padding-top: 1px; 
	}	
}

.product-name {

	color: @product-color; 
}